.md [href$="-.flair3rdA"], .flair3rdA{background-position:0 0;min-width:27px;}
.md [href$="-.flair3rdA1"], .flair3rdA1{background-position:0 -40px;}
.md [href$="-.flairA"], .flairA{background-position:0 -80px;}
.md [href$="-.flairA1"], .flairA1{background-position:0 -120px;}
.md [href$="-.flairA2"], .flairA2{background-position:0 -160px;min-width:34px;}
.md [href$="-.flairA3"], .flairA3{background-position:0 -200px;}
.md [href$="-.flairameyuri"], .flairameyuri{background-position:0 -240px;}
.md [href$="-.flairameyuri1"], .flairameyuri1{background-position:0 -280px;}
.md [href$="-.flairanko"], .flairanko{background-position:0 -320px;min-width:32px;}
.md [href$="-.flairashura"], .flairashura{background-position:0 -360px;min-width:34px;}
.md [href$="-.flairashura1"], .flairashura1{background-position:0 -400px;}
.md [href$="-.flairasuma"], .flairasuma{background-position:0 -440px;}
.md [href$="-.flairasuma1"], .flairasuma1{background-position:0 -480px;}
.md [href$="-.flairasuma2"], .flairasuma2{background-position:0 -520px;min-width:34px;}
.md [href$="-.flairbaki"], .flairbaki{background-position:0 -560px;}
.md [href$="-.flairbandit"], .flairbandit{background-position:0 -600px;}
.md [href$="-.flairbandit-lackey"], .flairbandit-lackey{background-position:0 -640px;}
.md [href$="-.flairbandit-leader"], .flairbandit-leader{background-position:0 -680px;min-width:34px;}
.md [href$="-.flairbee"], .flairbee{background-position:0 -720px;}
.md [href$="-.flairbee1"], .flairbee1{background-position:0 -760px;}
.md [href$="-.flairbee2"], .flairbee2{background-position:0 -800px;}
.md [href$="-.flairbee3"], .flairbee3{background-position:0 -840px;}
.md [href$="-.flairchino"], .flairchino{background-position:0 -880px;}
.md [href$="-.flairchino1"], .flairchino1{background-position:0 -920px;}
.md [href$="-.flairchiriku"], .flairchiriku{background-position:0 -960px;min-width:36px;}
.md [href$="-.flairchiriku1"], .flairchiriku1{background-position:0 -1000px;min-width:36px;}
.md [href$="-.flairchiyo"], .flairchiyo{background-position:0 -1040px;min-width:37px;}
.md [href$="-.flairchiyo1"], .flairchiyo1{background-position:0 -1080px;}
.md [href$="-.flairchoji"], .flairchoji{background-position:0 -1120px;}
.md [href$="-.flairchoji1"], .flairchoji1{background-position:0 -1160px;min-width:34px;}
.md [href$="-.flairchoji2"], .flairchoji2{background-position:0 -1200px;min-width:34px;}
.md [href$="-.flairchoji3"], .flairchoji3{background-position:0 -1240px;min-width:34px;}
.md [href$="-.flairchoji4"], .flairchoji4{background-position:0 -1280px;}
.md [href$="-.flairchoji5"], .flairchoji5{background-position:0 -1320px;}
.md [href$="-.flairchoji6"], .flairchoji6{background-position:0 -1360px;}
.md [href$="-.flairchoji7"], .flairchoji7{background-position:0 -1400px;}
.md [href$="-.flairchojuro"], .flairchojuro{background-position:0 -1440px;}
.md [href$="-.flairchojuro1"], .flairchojuro1{background-position:0 -1480px;}
.md [href$="-.flairchojuro2"], .flairchojuro2{background-position:0 -1520px;min-width:34px;}
.md [href$="-.flairchojuro3"], .flairchojuro3{background-position:0 -1560px;min-width:36px;}
.md [href$="-.flairchoza"], .flairchoza{background-position:0 -1600px;min-width:34px;}
.md [href$="-.flairdanzo"], .flairdanzo{background-position:0 -1640px;}
.md [href$="-.flairdanzo1"], .flairdanzo1{background-position:0 -1680px;}
.md [href$="-.flairdarui"], .flairdarui{background-position:0 -1720px;}
.md [href$="-.flairdarui1"], .flairdarui1{background-position:0 -1760px;}
.md [href$="-.flairdeidara"], .flairdeidara{background-position:0 -1800px;}
.md [href$="-.flairdeidara1"], .flairdeidara1{background-position:0 -1840px;}
.md [href$="-.flairdeidara2"], .flairdeidara2{background-position:0 -1880px;}
.md [href$="-.flairdeidara3"], .flairdeidara3{background-position:0 -1920px;min-width:34px;}
.md [href$="-.flairdeidara4"], .flairdeidara4{background-position:0 -1960px;}
.md [href$="-.flairdeidara5"], .flairdeidara5{background-position:0 -2000px;}
.md [href$="-.flairdosu"], .flairdosu{background-position:0 -2040px;}
.md [href$="-.flairebisu"], .flairebisu{background-position:0 -2080px;min-width:36px;}
.md [href$="-.flairfuguki"], .flairfuguki{background-position:0 -2120px;}
.md [href$="-.flairfuguki1"], .flairfuguki1{background-position:0 -2160px;}
.md [href$="-.flairfuu"], .flairfuu{background-position:0 -2200px;min-width:36px;}
.md [href$="-.flairfuu1"], .flairfuu1{background-position:0 -2240px;}
.md [href$="-.flairgaara"], .flairgaara{background-position:0 -2280px;min-width:39px;}
.md [href$="-.flairgaara1"], .flairgaara1{background-position:0 -2320px;min-width:38px;}
.md [href$="-.flairgaara2"], .flairgaara2{background-position:0 -2360px;min-width:34px;}
.md [href$="-.flairgaara3"], .flairgaara3{background-position:0 -2400px;min-width:34px;}
.md [href$="-.flairgaara4"], .flairgaara4{background-position:0 -2440px;}
.md [href$="-.flairgaara5"], .flairgaara5{background-position:0 -2480px;}
.md [href$="-.flairgaara6"], .flairgaara6{background-position:0 -2520px;min-width:37px;}
.md [href$="-.flairgaara7"], .flairgaara7{background-position:0 -2560px;}
.md [href$="-.flairgaara8"], .flairgaara8{background-position:0 -2600px;min-width:34px;}
.md [href$="-.flairgaara9"], .flairgaara9{background-position:0 -2640px;}
.md [href$="-.flairgaara10"], .flairgaara10{background-position:0 -2680px;}
.md [href$="-.flairgaara11"], .flairgaara11{background-position:0 -2720px;min-width:34px;}
.md [href$="-.flairgaara12"], .flairgaara12{background-position:0 -2760px;}
.md [href$="-.flairgaara13"], .flairgaara13{background-position:0 -2800px;}
.md [href$="-.flairgengetsu"], .flairgengetsu{background-position:0 -2840px;}
.md [href$="-.flairgengetsu1"], .flairgengetsu1{background-position:0 -2880px;}
.md [href$="-.flairgengo"], .flairgengo{background-position:0 -2920px;}
.md [href$="-.flairgengo1"], .flairgengo1{background-position:0 -2960px;}
.md [href$="-.flairgenma"], .flairgenma{background-position:0 -3000px;min-width:36px;}
.md [href$="-.flairgozu"], .flairgozu{background-position:0 -3040px;}
.md [href$="-.flairguy"], .flairguy{background-position:0 -3080px;min-width:34px;}
.md [href$="-.flairguy1"], .flairguy1{background-position:0 -3120px;min-width:36px;}
.md [href$="-.flairguy2"], .flairguy2{background-position:0 -3160px;}
.md [href$="-.flairguy3"], .flairguy3{background-position:0 -3200px;}
.md [href$="-.flairguy4"], .flairguy4{background-position:0 -3240px;min-width:34px;}
.md [href$="-.flairguy5"], .flairguy5{background-position:0 -3280px;}
.md [href$="-.flairguy6"], .flairguy6{background-position:0 -3320px;}
.md [href$="-.flairguy7"], .flairguy7{background-position:0 -3360px;}
.md [href$="-.flairguy8"], .flairguy8{background-position:0 -3400px;}
.md [href$="-.flairguy9"], .flairguy9{background-position:0 -3440px;}
.md [href$="-.flairhaku"], .flairhaku{background-position:0 -3480px;}
.md [href$="-.flairhaku1"], .flairhaku1{background-position:0 -3520px;}
.md [href$="-.flairhaku2"], .flairhaku2{background-position:0 -3560px;}
.md [href$="-.flairhaku3"], .flairhaku3{background-position:0 -3600px;}
.md [href$="-.flairhaku4"], .flairhaku4{background-position:0 -3640px;min-width:36px;}
.md [href$="-.flairhaku5"], .flairhaku5{background-position:0 -3680px;}
.md [href$="-.flairhaku6"], .flairhaku6{background-position:0 -3720px;}
.md [href$="-.flairhaku7"], .flairhaku7{background-position:0 -3760px;}
.md [href$="-.flairhaku-pvp"], .flairhaku-pvp{background-position:0 -3800px;}
.md [href$="-.flairhan"], .flairhan{background-position:0 -3840px;}
.md [href$="-.flairhan1"], .flairhan1{background-position:0 -3880px;}
.md [href$="-.flairhanabi"], .flairhanabi{background-position:0 -3920px;}
.md [href$="-.flairhanzo"], .flairhanzo{background-position:0 -3960px;min-width:36px;}
.md [href$="-.flairhanzo1"], .flairhanzo1{background-position:0 -4000px;}
.md [href$="-.flairhanzo2"], .flairhanzo2{background-position:0 -4040px;}
.md [href$="-.flairhanzo3"], .flairhanzo3{background-position:0 -4080px;min-width:36px;}
.md [href$="-.flairhashirama"], .flairhashirama{background-position:0 -4120px;}
.md [href$="-.flairhashirama1"], .flairhashirama1{background-position:0 -4160px;min-width:36px;}
.md [href$="-.flairhashirama2"], .flairhashirama2{background-position:0 -4200px;min-width:36px;}
.md [href$="-.flairhashirama3"], .flairhashirama3{background-position:0 -4240px;}
.md [href$="-.flairhashirama4"], .flairhashirama4{background-position:0 -4280px;}
.md [href$="-.flairhashirama5"], .flairhashirama5{background-position:0 -4320px;}
.md [href$="-.flairhashirama6"], .flairhashirama6{background-position:0 -4360px;}
.md [href$="-.flairhayate"], .flairhayate{background-position:0 -4400px;min-width:36px;}
.md [href$="-.flairhayate1"], .flairhayate1{background-position:0 -4440px;}
.md [href$="-.flairhiashi"], .flairhiashi{background-position:0 -4480px;min-width:30px;}
.md [href$="-.flairhidan"], .flairhidan{background-position:0 -4520px;}
.md [href$="-.flairhidan1"], .flairhidan1{background-position:0 -4560px;}
.md [href$="-.flairhinata"], .flairhinata{background-position:0 -4600px;min-width:36px;}
.md [href$="-.flairhinata1"], .flairhinata1{background-position:0 -4640px;min-width:37px;}
.md [href$="-.flairhinata2"], .flairhinata2{background-position:0 -4680px;min-width:38px;}
.md [href$="-.flairhinata3"], .flairhinata3{background-position:0 -4720px;min-width:36px;}
.md [href$="-.flairhinata4"], .flairhinata4{background-position:0 -4760px;}
.md [href$="-.flairhinata5"], .flairhinata5{background-position:0 -4800px;min-width:36px;}
.md [href$="-.flairhinata6"], .flairhinata6{background-position:0 -4840px;}
.md [href$="-.flairhinata7"], .flairhinata7{background-position:0 -4880px;}
.md [href$="-.flairhinata8"], .flairhinata8{background-position:0 -4920px;}
.md [href$="-.flairhinata9"], .flairhinata9{background-position:0 -4960px;}
.md [href$="-.flairhinata10"], .flairhinata10{background-position:0 -5000px;}
.md [href$="-.flairhinata-pvp"], .flairhinata-pvp{background-position:0 -5040px;}
.md [href$="-.flairhiruzen"], .flairhiruzen{background-position:0 -5080px;}
.md [href$="-.flairhiruzen1"], .flairhiruzen1{background-position:0 -5120px;min-width:36px;}
.md [href$="-.flairhiruzen2"], .flairhiruzen2{background-position:0 -5160px;min-width:38px;}
.md [href$="-.flairhizashi"], .flairhizashi{background-position:0 -5200px;min-width:30px;}
.md [href$="-.flairibiki"], .flairibiki{background-position:0 -5240px;min-width:36px;}
.md [href$="-.flairindra"], .flairindra{background-position:0 -5280px;}
.md [href$="-.flairindra1"], .flairindra1{background-position:0 -5320px;}
.md [href$="-.flairino"], .flairino{background-position:0 -5360px;}
.md [href$="-.flairino1"], .flairino1{background-position:0 -5400px;min-width:34px;}
.md [href$="-.flairino2"], .flairino2{background-position:0 -5440px;}
.md [href$="-.flairino3"], .flairino3{background-position:0 -5480px;}
.md [href$="-.flairino4"], .flairino4{background-position:0 -5520px;}
.md [href$="-.flairino5"], .flairino5{background-position:0 -5560px;}
.md [href$="-.flairino6"], .flairino6{background-position:0 -5600px;}
.md [href$="-.flairino7"], .flairino7{background-position:0 -5640px;min-width:33px;}
.md [href$="-.flairino8"], .flairino8{background-position:0 -5680px;}
.md [href$="-.flairino9"], .flairino9{background-position:0 -5720px;}
.md [href$="-.flairinoichi"], .flairinoichi{background-position:0 -5760px;}
.md [href$="-.flairiruka"], .flairiruka{background-position:0 -5800px;}
.md [href$="-.flairiruka1"], .flairiruka1{background-position:0 -5840px;}
.md [href$="-.flairitachi"], .flairitachi{background-position:0 -5880px;}
.md [href$="-.flairitachi1"], .flairitachi1{background-position:0 -5920px;min-width:34px;}
.md [href$="-.flairitachi2"], .flairitachi2{background-position:0 -5960px;min-width:34px;}
.md [href$="-.flairitachi3"], .flairitachi3{background-position:0 -6000px;}
.md [href$="-.flairitachi4"], .flairitachi4{background-position:0 -6040px;}
.md [href$="-.flairitachi5"], .flairitachi5{background-position:0 -6080px;}
.md [href$="-.flairitachi6"], .flairitachi6{background-position:0 -6120px;}
.md [href$="-.flairitachi7"], .flairitachi7{background-position:0 -6160px;}
.md [href$="-.flairitachi8"], .flairitachi8{background-position:0 -6200px;}
.md [href$="-.flairitachi9"], .flairitachi9{background-position:0 -6240px;}
.md [href$="-.flairitachi10"], .flairitachi10{background-position:0 -6280px;}
.md [href$="-.flairitachi11"], .flairitachi11{background-position:0 -6320px;min-width:37px;}
.md [href$="-.flairitachi12"], .flairitachi12{background-position:0 -6360px;min-width:36px;}
.md [href$="-.flairitachi13"], .flairitachi13{background-position:0 -6400px;}
.md [href$="-.flairizumo"], .flairizumo{background-position:0 -6440px;min-width:36px;}
.md [href$="-.flairizuna"], .flairizuna{background-position:0 -6480px;}
.md [href$="-.flairjinin"], .flairjinin{background-position:0 -6520px;}
.md [href$="-.flairjinin1"], .flairjinin1{background-position:0 -6560px;}
.md [href$="-.flairjinpachi"], .flairjinpachi{background-position:0 -6600px;}
.md [href$="-.flairjinpachi1"], .flairjinpachi1{background-position:0 -6640px;}
.md [href$="-.flairjiraiya"], .flairjiraiya{background-position:0 -6680px;min-width:37px;}
.md [href$="-.flairjiraiya1"], .flairjiraiya1{background-position:0 -6720px;min-width:34px;}
.md [href$="-.flairjiraiya2"], .flairjiraiya2{background-position:0 -6760px;}
.md [href$="-.flairjiraiya3"], .flairjiraiya3{background-position:0 -6800px;}
.md [href$="-.flairjiraiya4"], .flairjiraiya4{background-position:0 -6840px;}
.md [href$="-.flairjiraiya5"], .flairjiraiya5{background-position:0 -6880px;min-width:33px;}
.md [href$="-.flairjiraiya6"], .flairjiraiya6{background-position:0 -6920px;min-width:34px;}
.md [href$="-.flairjiraiya7"], .flairjiraiya7{background-position:0 -6960px;}
.md [href$="-.flairjiraiya8"], .flairjiraiya8{background-position:0 -7000px;}
.md [href$="-.flairjiraiya9"], .flairjiraiya9{background-position:0 -7040px;}
.md [href$="-.flairjiraiya10"], .flairjiraiya10{background-position:0 -7080px;}
.md [href$="-.flairjiraiya11"], .flairjiraiya11{background-position:0 -7120px;}
.md [href$="-.flairjirobo"], .flairjirobo{background-position:0 -7160px;}
.md [href$="-.flairjirobo1"], .flairjirobo1{background-position:0 -7200px;min-width:36px;}
.md [href$="-.flairjirobo2"], .flairjirobo2{background-position:0 -7240px;}
.md [href$="-.flairjirobo3"], .flairjirobo3{background-position:0 -7280px;min-width:34px;}
.md [href$="-.flairjugo"], .flairjugo{background-position:0 -7320px;}
.md [href$="-.flairjugo1"], .flairjugo1{background-position:0 -7360px;}
.md [href$="-.flairjugo2"], .flairjugo2{background-position:0 -7400px;}
.md [href$="-.flairjugo3"], .flairjugo3{background-position:0 -7440px;}
.md [href$="-.flairkabuto"], .flairkabuto{background-position:0 -7480px;}
.md [href$="-.flairkabuto1"], .flairkabuto1{background-position:0 -7520px;}
.md [href$="-.flairkabuto2"], .flairkabuto2{background-position:0 -7560px;}
.md [href$="-.flairkabuto3"], .flairkabuto3{background-position:0 -7600px;}
.md [href$="-.flairkabuto4"], .flairkabuto4{background-position:0 -7640px;}
.md [href$="-.flairkaguya"], .flairkaguya{background-position:0 -7680px;min-width:36px;}
.md [href$="-.flairkaguya1"], .flairkaguya1{background-position:0 -7720px;}
.md [href$="-.flairkaguya2"], .flairkaguya2{background-position:0 -7760px;min-width:34px;}
.md [href$="-.flairkaguya3"], .flairkaguya3{background-position:0 -7800px;}
.md [href$="-.flairkakashi"], .flairkakashi{background-position:0 -7840px;min-width:34px;}
.md [href$="-.flairkakashi1"], .flairkakashi1{background-position:0 -7880px;}
.md [href$="-.flairkakashi2"], .flairkakashi2{background-position:0 -7920px;}
.md [href$="-.flairkakashi3"], .flairkakashi3{background-position:0 -7960px;}
.md [href$="-.flairkakashi4"], .flairkakashi4{background-position:0 -8000px;}
.md [href$="-.flairkakashi5"], .flairkakashi5{background-position:0 -8040px;}
.md [href$="-.flairkakashi6"], .flairkakashi6{background-position:0 -8080px;}
.md [href$="-.flairkakashi7"], .flairkakashi7{background-position:0 -8120px;}
.md [href$="-.flairkakashi8"], .flairkakashi8{background-position:0 -8160px;}
.md [href$="-.flairkakashi9"], .flairkakashi9{background-position:0 -8200px;}
.md [href$="-.flairkakashi10"], .flairkakashi10{background-position:0 -8240px;}
.md [href$="-.flairkakashi11"], .flairkakashi11{background-position:0 -8280px;min-width:34px;}
.md [href$="-.flairkakashi12"], .flairkakashi12{background-position:0 -8320px;}
.md [href$="-.flairkakashi13"], .flairkakashi13{background-position:0 -8360px;}
.md [href$="-.flairkakashi14"], .flairkakashi14{background-position:0 -8400px;}
.md [href$="-.flairkakkou"], .flairkakkou{background-position:0 -8440px;}
.md [href$="-.flairkakuzu"], .flairkakuzu{background-position:0 -8480px;}
.md [href$="-.flairkakuzu1"], .flairkakuzu1{background-position:0 -8520px;}
.md [href$="-.flairkankuro"], .flairkankuro{background-position:0 -8560px;}
.md [href$="-.flairkankuro1"], .flairkankuro1{background-position:0 -8600px;}
.md [href$="-.flairkankuro2"], .flairkankuro2{background-position:0 -8640px;}
.md [href$="-.flairkankuro3"], .flairkankuro3{background-position:0 -8680px;}
.md [href$="-.flairkarin"], .flairkarin{background-position:0 -8720px;min-width:36px;}
.md [href$="-.flairkarin1"], .flairkarin1{background-position:0 -8760px;min-width:40px;}
.md [href$="-.flairkarin2"], .flairkarin2{background-position:0 -8800px;}
.md [href$="-.flairkiba"], .flairkiba{background-position:0 -8840px;}
.md [href$="-.flairkiba1"], .flairkiba1{background-position:0 -8880px;min-width:36px;}
.md [href$="-.flairkiba2"], .flairkiba2{background-position:0 -8920px;}
.md [href$="-.flairkiba3"], .flairkiba3{background-position:0 -8960px;}
.md [href$="-.flairkiba4"], .flairkiba4{background-position:0 -9000px;}
.md [href$="-.flairkidomaru"], .flairkidomaru{background-position:0 -9040px;}
.md [href$="-.flairkidomaru1"], .flairkidomaru1{background-position:0 -9080px;min-width:36px;}
.md [href$="-.flairkidomaru2"], .flairkidomaru2{background-position:0 -9120px;}
.md [href$="-.flairkidomaru3"], .flairkidomaru3{background-position:0 -9160px;}
.md [href$="-.flairkimimaro"], .flairkimimaro{background-position:0 -9200px;min-width:36px;}
.md [href$="-.flairkimimaro1"], .flairkimimaro1{background-position:0 -9240px;min-width:32px;}
.md [href$="-.flairkimimaro2"], .flairkimimaro2{background-position:0 -9280px;}
.md [href$="-.flairkimimaro3"], .flairkimimaro3{background-position:0 -9320px;min-width:39px;}
.md [href$="-.flairkimimaro4"], .flairkimimaro4{background-position:0 -9360px;}
.md [href$="-.flairkimimaro5"], .flairkimimaro5{background-position:0 -9400px;}
.md [href$="-.flairkin"], .flairkin{background-position:0 -9440px;min-width:36px;}
.md [href$="-.flairkisame"], .flairkisame{background-position:0 -9480px;}
.md [href$="-.flairkisame1"], .flairkisame1{background-position:0 -9520px;}
.md [href$="-.flairkisame2"], .flairkisame2{background-position:0 -9560px;}
.md [href$="-.flairkisame3"], .flairkisame3{background-position:0 -9600px;}
.md [href$="-.flairkonan"], .flairkonan{background-position:0 -9640px;}
.md [href$="-.flairkonan1"], .flairkonan1{background-position:0 -9680px;}
.md [href$="-.flairkonan2"], .flairkonan2{background-position:0 -9720px;}
.md [href$="-.flairkonan3"], .flairkonan3{background-position:0 -9760px;}
.md [href$="-.flairkonan4"], .flairkonan4{background-position:0 -9800px;}
.md [href$="-.flairkonan5"], .flairkonan5{background-position:0 -9840px;}
.md [href$="-.flairkonohamaru"], .flairkonohamaru{background-position:0 -9880px;}
.md [href$="-.flairkonohamaru1"], .flairkonohamaru1{background-position:0 -9920px;}
.md [href$="-.flairkonohamaru2"], .flairkonohamaru2{background-position:0 -9960px;}
.md [href$="-.flairkotetsu"], .flairkotetsu{background-position:0 -10000px;}
.md [href$="-.flairkurenai"], .flairkurenai{background-position:0 -10040px;min-width:38px;}
.md [href$="-.flairkurotsuchi"], .flairkurotsuchi{background-position:0 -10080px;min-width:34px;}
.md [href$="-.flairkurotsuchi1"], .flairkurotsuchi1{background-position:0 -10120px;}
.md [href$="-.flairkushimaru"], .flairkushimaru{background-position:0 -10160px;}
.md [href$="-.flairkushimaru1"], .flairkushimaru1{background-position:0 -10200px;}
.md [href$="-.flairkushina"], .flairkushina{background-position:0 -10240px;}
.md [href$="-.flairkushina1"], .flairkushina1{background-position:0 -10280px;}
.md [href$="-.flairkushina2"], .flairkushina2{background-position:0 -10320px;}
.md [href$="-.flairkushina3"], .flairkushina3{background-position:0 -10360px;min-width:34px;}
.md [href$="-.flairkushina4"], .flairkushina4{background-position:0 -10400px;min-width:36px;}
.md [href$="-.flairleaf-anbu-female"], .flairleaf-anbu-female{background-position:0 -10440px;min-width:36px;}
.md [href$="-.flairleaf-anbu-male"], .flairleaf-anbu-male{background-position:0 -10480px;min-width:34px;}
.md [href$="-.flairleaf-chunin-male"], .flairleaf-chunin-male{background-position:0 -10520px;min-width:33px;}
.md [href$="-.flairlee"], .flairlee{background-position:0 -10560px;min-width:34px;}
.md [href$="-.flairlee1"], .flairlee1{background-position:0 -10600px;min-width:36px;}
.md [href$="-.flairlee2"], .flairlee2{background-position:0 -10640px;}
.md [href$="-.flairlee3"], .flairlee3{background-position:0 -10680px;}
.md [href$="-.flairlee4"], .flairlee4{background-position:0 -10720px;}
.md [href$="-.flairlee5"], .flairlee5{background-position:0 -10760px;}
.md [href$="-.flairlee6"], .flairlee6{background-position:0 -10800px;}
.md [href$="-.flairlee7"], .flairlee7{background-position:0 -10840px;min-width:31px;}
.md [href$="-.flairmadara"], .flairmadara{background-position:0 -10880px;}
.md [href$="-.flairmadara1"], .flairmadara1{background-position:0 -10920px;}
.md [href$="-.flairmadara2"], .flairmadara2{background-position:0 -10960px;}
.md [href$="-.flairmadara3"], .flairmadara3{background-position:0 -11000px;}
.md [href$="-.flairmadara4"], .flairmadara4{background-position:0 -11040px;}
.md [href$="-.flairmadara5"], .flairmadara5{background-position:0 -11080px;}
.md [href$="-.flairmadara6"], .flairmadara6{background-position:0 -11120px;}
.md [href$="-.flairmadara7"], .flairmadara7{background-position:0 -11160px;}
.md [href$="-.flairmadara8"], .flairmadara8{background-position:0 -11200px;}
.md [href$="-.flairmahiru"], .flairmahiru{background-position:0 -11240px;}
.md [href$="-.flairmangetsu"], .flairmangetsu{background-position:0 -11280px;}
.md [href$="-.flairmangetsu1"], .flairmangetsu1{background-position:0 -11320px;}
.md [href$="-.flairmei"], .flairmei{background-position:0 -11360px;}
.md [href$="-.flairmei1"], .flairmei1{background-position:0 -11400px;min-width:37px;}
.md [href$="-.flairmeizu"], .flairmeizu{background-position:0 -11440px;}
.md [href$="-.flairmifune"], .flairmifune{background-position:0 -11480px;}
.md [href$="-.flairminato"], .flairminato{background-position:0 -11520px;min-width:34px;}
.md [href$="-.flairminato1"], .flairminato1{background-position:0 -11560px;}
.md [href$="-.flairminato2"], .flairminato2{background-position:0 -11600px;}
.md [href$="-.flairminato3"], .flairminato3{background-position:0 -11640px;min-width:34px;}
.md [href$="-.flairminato4"], .flairminato4{background-position:0 -11680px;}
.md [href$="-.flairminato5"], .flairminato5{background-position:0 -11720px;}
.md [href$="-.flairminato6"], .flairminato6{background-position:0 -11760px;}
.md [href$="-.flairminato7"], .flairminato7{background-position:0 -11800px;}
.md [href$="-.flairminato8"], .flairminato8{background-position:0 -11840px;}
.md [href$="-.flairminato9"], .flairminato9{background-position:0 -11880px;}
.md [href$="-.flairmist-anbu-male"], .flairmist-anbu-male{background-position:0 -11920px;}
.md [href$="-.flairmist-chunin-male"], .flairmist-chunin-male{background-position:0 -11960px;min-width:36px;}
.md [href$="-.flairmisumi"], .flairmisumi{background-position:0 -12000px;min-width:36px;}
.md [href$="-.flairmizuki"], .flairmizuki{background-position:0 -12040px;min-width:34px;}
.md [href$="-.flairmu"], .flairmu{background-position:0 -12080px;}
.md [href$="-.flairnagato"], .flairnagato{background-position:0 -12120px;min-width:36px;}
.md [href$="-.flairnagato1"], .flairnagato1{background-position:0 -12160px;min-width:36px;}
.md [href$="-.flairnagato2"], .flairnagato2{background-position:0 -12200px;}
.md [href$="-.flairnagato3"], .flairnagato3{background-position:0 -12240px;min-width:32px;}
.md [href$="-.flairnaruto"], .flairnaruto{background-position:0 -12280px;}
.md [href$="-.flairnaruto1"], .flairnaruto1{background-position:0 -12320px;}
.md [href$="-.flairnaruto2"], .flairnaruto2{background-position:0 -12360px;min-width:34px;}
.md [href$="-.flairnaruto3"], .flairnaruto3{background-position:0 -12400px;min-width:36px;}
.md [href$="-.flairnaruto4"], .flairnaruto4{background-position:0 -12440px;}
.md [href$="-.flairnaruto5"], .flairnaruto5{background-position:0 -12480px;}
.md [href$="-.flairnaruto6"], .flairnaruto6{background-position:0 -12520px;}
.md [href$="-.flairnaruto7"], .flairnaruto7{background-position:0 -12560px;}
.md [href$="-.flairnaruto8"], .flairnaruto8{background-position:0 -12600px;}
.md [href$="-.flairnaruto9"], .flairnaruto9{background-position:0 -12640px;}
.md [href$="-.flairnaruto10"], .flairnaruto10{background-position:0 -12680px;}
.md [href$="-.flairnaruto11"], .flairnaruto11{background-position:0 -12720px;min-width:34px;}
.md [href$="-.flairnaruto12"], .flairnaruto12{background-position:0 -12760px;}
.md [href$="-.flairnaruto13"], .flairnaruto13{background-position:0 -12800px;min-width:36px;}
.md [href$="-.flairnaruto14"], .flairnaruto14{background-position:0 -12840px;}
.md [href$="-.flairnaruto15"], .flairnaruto15{background-position:0 -12880px;min-width:34px;}
.md [href$="-.flairnaruto16"], .flairnaruto16{background-position:0 -12920px;}
.md [href$="-.flairnaruto17"], .flairnaruto17{background-position:0 -12960px;}
.md [href$="-.flairnaruto18"], .flairnaruto18{background-position:0 -13000px;}
.md [href$="-.flairnaruto19"], .flairnaruto19{background-position:0 -13040px;}
.md [href$="-.flairnaruto20"], .flairnaruto20{background-position:0 -13080px;}
.md [href$="-.flairnaruto21"], .flairnaruto21{background-position:0 -13120px;}
.md [href$="-.flairnaruto22"], .flairnaruto22{background-position:0 -13160px;}
.md [href$="-.flairnaruto23"], .flairnaruto23{background-position:0 -13200px;}
.md [href$="-.flairnaruto24"], .flairnaruto24{background-position:0 -13240px;}
.md [href$="-.flairnaruto25"], .flairnaruto25{background-position:0 -13280px;}
.md [href$="-.flairnaruto26"], .flairnaruto26{background-position:0 -13320px;}
.md [href$="-.flairnaruto27"], .flairnaruto27{background-position:0 -13360px;}
.md [href$="-.flairnaruto28"], .flairnaruto28{background-position:0 -13400px;}
.md [href$="-.flairnaruto29"], .flairnaruto29{background-position:0 -13440px;}
.md [href$="-.flairnaruto30"], .flairnaruto30{background-position:0 -13480px;min-width:37px;}
.md [href$="-.flairnaruto31"], .flairnaruto31{background-position:0 -13520px;}
.md [href$="-.flairnaruto32"], .flairnaruto32{background-position:0 -13560px;}
.md [href$="-.flairnaruto33"], .flairnaruto33{background-position:0 -13600px;}
.md [href$="-.flairnaruto-fem"], .flairnaruto-fem{background-position:0 -13640px;}
.md [href$="-.flairneji"], .flairneji{background-position:0 -13680px;min-width:36px;}
.md [href$="-.flairneji1"], .flairneji1{background-position:0 -13720px;}
.md [href$="-.flairneji2"], .flairneji2{background-position:0 -13760px;}
.md [href$="-.flairneji3"], .flairneji3{background-position:0 -13800px;}
.md [href$="-.flairneji4"], .flairneji4{background-position:0 -13840px;min-width:36px;}
.md [href$="-.flairneji5"], .flairneji5{background-position:0 -13880px;}
.md [href$="-.flairneji6"], .flairneji6{background-position:0 -13920px;}
.md [href$="-.flairobito"], .flairobito{background-position:0 -13960px;min-width:34px;}
.md [href$="-.flairobito1"], .flairobito1{background-position:0 -14000px;}
.md [href$="-.flairobito2"], .flairobito2{background-position:0 -14040px;}
.md [href$="-.flairobito3"], .flairobito3{background-position:0 -14080px;min-width:34px;}
.md [href$="-.flairobito4"], .flairobito4{background-position:0 -14120px;min-width:34px;}
.md [href$="-.flairobito5"], .flairobito5{background-position:0 -14160px;min-width:34px;}
.md [href$="-.flairobito6"], .flairobito6{background-position:0 -14200px;}
.md [href$="-.flairobito7"], .flairobito7{background-position:0 -14240px;}
.md [href$="-.flairobito8"], .flairobito8{background-position:0 -14280px;}
.md [href$="-.flairohnoki"], .flairohnoki{background-position:0 -14320px;}
.md [href$="-.flairohnoki1"], .flairohnoki1{background-position:0 -14360px;}
.md [href$="-.flairorochimaru"], .flairorochimaru{background-position:0 -14400px;min-width:37px;}
.md [href$="-.flairorochimaru1"], .flairorochimaru1{background-position:0 -14440px;}
.md [href$="-.flairorochimaru2"], .flairorochimaru2{background-position:0 -14480px;}
.md [href$="-.flairorochimaru3"], .flairorochimaru3{background-position:0 -14520px;min-width:37px;}
.md [href$="-.flairorochimaru4"], .flairorochimaru4{background-position:0 -14560px;}
.md [href$="-.flairorochimaru5"], .flairorochimaru5{background-position:0 -14600px;}
.md [href$="-.flairorochimaru6"], .flairorochimaru6{background-position:0 -14640px;}
.md [href$="-.flairorochimaru7"], .flairorochimaru7{background-position:0 -14680px;}
.md [href$="-.flairorochimaru8"], .flairorochimaru8{background-position:0 -14720px;}
.md [href$="-.flairpain"], .flairpain{background-position:0 -14760px;}
.md [href$="-.flairpain1"], .flairpain1{background-position:0 -14800px;}
.md [href$="-.flairpain2"], .flairpain2{background-position:0 -14840px;}
.md [href$="-.flairpain3"], .flairpain3{background-position:0 -14880px;}
.md [href$="-.flairpain4"], .flairpain4{background-position:0 -14920px;}
.md [href$="-.flairpain5"], .flairpain5{background-position:0 -14960px;}
.md [href$="-.flairpain6"], .flairpain6{background-position:0 -15000px;}
.md [href$="-.flairpain7"], .flairpain7{background-position:0 -15040px;}
.md [href$="-.flairpain8"], .flairpain8{background-position:0 -15080px;}
.md [href$="-.flairpain9"], .flairpain9{background-position:0 -15120px;}
.md [href$="-.flairpain10"], .flairpain10{background-position:0 -15160px;}
.md [href$="-.flairraido"], .flairraido{background-position:0 -15200px;}
.md [href$="-.flairrasa"], .flairrasa{background-position:0 -15240px;min-width:30px;}
.md [href$="-.flairrasa1"], .flairrasa1{background-position:0 -15280px;}
.md [href$="-.flairrin"], .flairrin{background-position:0 -15320px;}
.md [href$="-.flairrin1"], .flairrin1{background-position:0 -15360px;min-width:37px;}
.md [href$="-.flairrin2"], .flairrin2{background-position:0 -15400px;min-width:36px;}
.md [href$="-.flairroshi"], .flairroshi{background-position:0 -15440px;}
.md [href$="-.flairroshi1"], .flairroshi1{background-position:0 -15480px;}
.md [href$="-.flairrou"], .flairrou{background-position:0 -15520px;min-width:32px;}
.md [href$="-.flairrou1"], .flairrou1{background-position:0 -15560px;min-width:32px;}
.md [href$="-.flairsai"], .flairsai{background-position:0 -15600px;}
.md [href$="-.flairsai1"], .flairsai1{background-position:0 -15640px;min-width:34px;}
.md [href$="-.flairsai2"], .flairsai2{background-position:0 -15680px;min-width:34px;}
.md [href$="-.flairsai3"], .flairsai3{background-position:0 -15720px;}
.md [href$="-.flairsakon"], .flairsakon{background-position:0 -15760px;min-width:36px;}
.md [href$="-.flairsakon1"], .flairsakon1{background-position:0 -15800px;min-width:36px;}
.md [href$="-.flairsakon2"], .flairsakon2{background-position:0 -15840px;}
.md [href$="-.flairsakon3"], .flairsakon3{background-position:0 -15880px;}
.md [href$="-.flairsakura"], .flairsakura{background-position:0 -15920px;min-width:38px;}
.md [href$="-.flairsakura1"], .flairsakura1{background-position:0 -15960px;min-width:36px;}
.md [href$="-.flairsakura2"], .flairsakura2{background-position:0 -16000px;min-width:38px;}
.md [href$="-.flairsakura3"], .flairsakura3{background-position:0 -16040px;}
.md [href$="-.flairsakura4"], .flairsakura4{background-position:0 -16080px;min-width:37px;}
.md [href$="-.flairsakura5"], .flairsakura5{background-position:0 -16120px;}
.md [href$="-.flairsakura6"], .flairsakura6{background-position:0 -16160px;}
.md [href$="-.flairsakura7"], .flairsakura7{background-position:0 -16200px;min-width:36px;}
.md [href$="-.flairsakura8"], .flairsakura8{background-position:0 -16240px;min-width:37px;}
.md [href$="-.flairsakura9"], .flairsakura9{background-position:0 -16280px;min-width:36px;}
.md [href$="-.flairsakura10"], .flairsakura10{background-position:0 -16320px;}
.md [href$="-.flairsakura11"], .flairsakura11{background-position:0 -16360px;min-width:36px;}
.md [href$="-.flairsakura12"], .flairsakura12{background-position:0 -16400px;min-width:36px;}
.md [href$="-.flairsakura13"], .flairsakura13{background-position:0 -16440px;min-width:34px;}
.md [href$="-.flairsakura14"], .flairsakura14{background-position:0 -16480px;}
.md [href$="-.flairsakura15"], .flairsakura15{background-position:0 -16520px;min-width:33px;}
.md [href$="-.flairsakura16"], .flairsakura16{background-position:0 -16560px;}
.md [href$="-.flairsakura17"], .flairsakura17{background-position:0 -16600px;}
.md [href$="-.flairsakura-pvp"], .flairsakura-pvp{background-position:0 -16640px;}
.md [href$="-.flairsand-chunin-male"], .flairsand-chunin-male{background-position:0 -16680px;}
.md [href$="-.flairsasori"], .flairsasori{background-position:0 -16720px;}
.md [href$="-.flairsasori1"], .flairsasori1{background-position:0 -16760px;}
.md [href$="-.flairsasori2"], .flairsasori2{background-position:0 -16800px;min-width:36px;}
.md [href$="-.flairsasuke"], .flairsasuke{background-position:0 -16840px;}
.md [href$="-.flairsasuke1"], .flairsasuke1{background-position:0 -16880px;min-width:34px;}
.md [href$="-.flairsasuke2"], .flairsasuke2{background-position:0 -16920px;min-width:34px;}
.md [href$="-.flairsasuke3"], .flairsasuke3{background-position:0 -16960px;}
.md [href$="-.flairsasuke4"], .flairsasuke4{background-position:0 -17000px;}
.md [href$="-.flairsasuke5"], .flairsasuke5{background-position:0 -17040px;}
.md [href$="-.flairsasuke6"], .flairsasuke6{background-position:0 -17080px;}
.md [href$="-.flairsasuke7"], .flairsasuke7{background-position:0 -17120px;}
.md [href$="-.flairsasuke8"], .flairsasuke8{background-position:0 -17160px;}
.md [href$="-.flairsasuke9"], .flairsasuke9{background-position:0 -17200px;}
.md [href$="-.flairsasuke10"], .flairsasuke10{background-position:0 -17240px;}
.md [href$="-.flairsasuke11"], .flairsasuke11{background-position:0 -17280px;min-width:36px;}
.md [href$="-.flairsasuke12"], .flairsasuke12{background-position:0 -17320px;}
.md [href$="-.flairsasuke13"], .flairsasuke13{background-position:0 -17360px;}
.md [href$="-.flairsasuke14"], .flairsasuke14{background-position:0 -17400px;min-width:34px;}
.md [href$="-.flairsasuke15"], .flairsasuke15{background-position:0 -17440px;}
.md [href$="-.flairsasuke16"], .flairsasuke16{background-position:0 -17480px;}
.md [href$="-.flairsasuke17"], .flairsasuke17{background-position:0 -17520px;min-width:36px;}
.md [href$="-.flairsasuke18"], .flairsasuke18{background-position:0 -17560px;}
.md [href$="-.flairsasuke19"], .flairsasuke19{background-position:0 -17600px;}
.md [href$="-.flairsasuke20"], .flairsasuke20{background-position:0 -17640px;min-width:34px;}
.md [href$="-.flairsasuke21"], .flairsasuke21{background-position:0 -17680px;}
.md [href$="-.flairsasuke22"], .flairsasuke22{background-position:0 -17720px;min-width:34px;}
.md [href$="-.flairsasuke23"], .flairsasuke23{background-position:0 -17760px;}
.md [href$="-.flairsasuke24"], .flairsasuke24{background-position:0 -17800px;}
.md [href$="-.flairsasuke25"], .flairsasuke25{background-position:0 -17840px;}
.md [href$="-.flairsasuke26"], .flairsasuke26{background-position:0 -17880px;}
.md [href$="-.flairsasuke27"], .flairsasuke27{background-position:0 -17920px;min-width:31px;}
.md [href$="-.flairsasuke28"], .flairsasuke28{background-position:0 -17960px;min-width:41px;}
.md [href$="-.flairsasuke29"], .flairsasuke29{background-position:0 -18000px;}
.md [href$="-.flairsasuke30"], .flairsasuke30{background-position:0 -18040px;min-width:34px;}
.md [href$="-.flairsasuke31"], .flairsasuke31{background-position:0 -18080px;min-width:34px;}
.md [href$="-.flairsasuke32"], .flairsasuke32{background-position:0 -18120px;}
.md [href$="-.flairsasuke33"], .flairsasuke33{background-position:0 -18160px;}
.md [href$="-.flairshibi"], .flairshibi{background-position:0 -18200px;}
.md [href$="-.flairshikaku"], .flairshikaku{background-position:0 -18240px;}
.md [href$="-.flairshikamaru"], .flairshikamaru{background-position:0 -18280px;min-width:31px;}
.md [href$="-.flairshikamaru1"], .flairshikamaru1{background-position:0 -18320px;min-width:34px;}
.md [href$="-.flairshikamaru2"], .flairshikamaru2{background-position:0 -18360px;min-width:34px;}
.md [href$="-.flairshikamaru3"], .flairshikamaru3{background-position:0 -18400px;min-width:33px;}
.md [href$="-.flairshikamaru4"], .flairshikamaru4{background-position:0 -18440px;min-width:38px;}
.md [href$="-.flairshikamaru5"], .flairshikamaru5{background-position:0 -18480px;min-width:33px;}
.md [href$="-.flairshikamaru6"], .flairshikamaru6{background-position:0 -18520px;}
.md [href$="-.flairshikamaru7"], .flairshikamaru7{background-position:0 -18560px;min-width:32px;}
.md [href$="-.flairshino"], .flairshino{background-position:0 -18600px;min-width:33px;}
.md [href$="-.flairshino1"], .flairshino1{background-position:0 -18640px;}
.md [href$="-.flairshino2"], .flairshino2{background-position:0 -18680px;}
.md [href$="-.flairshisui"], .flairshisui{background-position:0 -18720px;min-width:33px;}
.md [href$="-.flairshisui1"], .flairshisui1{background-position:0 -18760px;}
.md [href$="-.flairshisui2"], .flairshisui2{background-position:0 -18800px;}
.md [href$="-.flairshisui3"], .flairshisui3{background-position:0 -18840px;min-width:28px;}
.md [href$="-.flairshisui4"], .flairshisui4{background-position:0 -18880px;}
.md [href$="-.flairshisui5"], .flairshisui5{background-position:0 -18920px;}
.md [href$="-.flairshizune"], .flairshizune{background-position:0 -18960px;min-width:36px;}
.md [href$="-.flairsoku"], .flairsoku{background-position:0 -19000px;min-width:34px;}
.md [href$="-.flairsoku1"], .flairsoku1{background-position:0 -19040px;}
.md [href$="-.flairsound-ninja"], .flairsound-ninja{background-position:0 -19080px;}
.md [href$="-.flairsuigetsu"], .flairsuigetsu{background-position:0 -19120px;min-width:36px;}
.md [href$="-.flairsuigetsu1"], .flairsuigetsu1{background-position:0 -19160px;}
.md [href$="-.flairsuigetsu2"], .flairsuigetsu2{background-position:0 -19200px;}
.md [href$="-.flairsuigetsu3"], .flairsuigetsu3{background-position:0 -19240px;}
.md [href$="-.flairtaiseki"], .flairtaiseki{background-position:0 -19280px;min-width:36px;}
.md [href$="-.flairtayuya"], .flairtayuya{background-position:0 -19320px;}
.md [href$="-.flairtayuya1"], .flairtayuya1{background-position:0 -19360px;min-width:36px;}
.md [href$="-.flairtayuya2"], .flairtayuya2{background-position:0 -19400px;}
.md [href$="-.flairtayuya3"], .flairtayuya3{background-position:0 -19440px;}
.md [href$="-.flairtemari"], .flairtemari{background-position:0 -19480px;}
.md [href$="-.flairtemari1"], .flairtemari1{background-position:0 -19520px;}
.md [href$="-.flairtemari2"], .flairtemari2{background-position:0 -19560px;min-width:34px;}
.md [href$="-.flairtemari3"], .flairtemari3{background-position:0 -19600px;min-width:38px;}
.md [href$="-.flairtemari4"], .flairtemari4{background-position:0 -19640px;}
.md [href$="-.flairtenten"], .flairtenten{background-position:0 -19680px;}
.md [href$="-.flairtenten1"], .flairtenten1{background-position:0 -19720px;}
.md [href$="-.flairtenten2"], .flairtenten2{background-position:0 -19760px;min-width:37px;}
.md [href$="-.flairtenten3"], .flairtenten3{background-position:0 -19800px;}
.md [href$="-.flairtenten4"], .flairtenten4{background-position:0 -19840px;min-width:32px;}
.md [href$="-.flairthief"], .flairthief{background-position:0 -19880px;min-width:34px;}
.md [href$="-.flairthief-lackey"], .flairthief-lackey{background-position:0 -19920px;min-width:34px;}
.md [href$="-.flairthief-leader"], .flairthief-leader{background-position:0 -19960px;}
.md [href$="-.flairtobi"], .flairtobi{background-position:0 -20000px;min-width:36px;}
.md [href$="-.flairtobi1"], .flairtobi1{background-position:0 -20040px;}
.md [href$="-.flairtobi2"], .flairtobi2{background-position:0 -20080px;}
.md [href$="-.flairtobi3"], .flairtobi3{background-position:0 -20120px;min-width:34px;}
.md [href$="-.flairtobirama"], .flairtobirama{background-position:0 -20160px;min-width:36px;}
.md [href$="-.flairtobirama1"], .flairtobirama1{background-position:0 -20200px;min-width:36px;}
.md [href$="-.flairtobirama2"], .flairtobirama2{background-position:0 -20240px;}
.md [href$="-.flairtobirama3"], .flairtobirama3{background-position:0 -20280px;min-width:34px;}
.md [href$="-.flairtobirama4"], .flairtobirama4{background-position:0 -20320px;}
.md [href$="-.flairtorune"], .flairtorune{background-position:0 -20360px;}
.md [href$="-.flairtorune1"], .flairtorune1{background-position:0 -20400px;}
.md [href$="-.flairtrinity-kagari"], .flairtrinity-kagari{background-position:0 -20440px;}
.md [href$="-.flairtrinity-mubi"], .flairtrinity-mubi{background-position:0 -20480px;min-width:36px;}
.md [href$="-.flairtrinity-oboro"], .flairtrinity-oboro{background-position:0 -20520px;}
.md [href$="-.flairtsume"], .flairtsume{background-position:0 -20560px;min-width:38px;}
.md [href$="-.flairtsunade"], .flairtsunade{background-position:0 -20600px;min-width:40px;}
.md [href$="-.flairtsunade1"], .flairtsunade1{background-position:0 -20640px;}
.md [href$="-.flairtsunade2"], .flairtsunade2{background-position:0 -20680px;}
.md [href$="-.flairtsunade3"], .flairtsunade3{background-position:0 -20720px;}
.md [href$="-.flairtsunade4"], .flairtsunade4{background-position:0 -20760px;}
.md [href$="-.flairtsunade5"], .flairtsunade5{background-position:0 -20800px;}
.md [href$="-.flairtsunade6"], .flairtsunade6{background-position:0 -20840px;}
.md [href$="-.flairtsunade7"], .flairtsunade7{background-position:0 -20880px;}
.md [href$="-.flairtsunade8"], .flairtsunade8{background-position:0 -20920px;}
.md [href$="-.flairtsunade9"], .flairtsunade9{background-position:0 -20960px;}
.md [href$="-.flairtsunade10"], .flairtsunade10{background-position:0 -21000px;}
.md [href$="-.flairtsunade11"], .flairtsunade11{background-position:0 -21040px;}
.md [href$="-.flairutakata"], .flairutakata{background-position:0 -21080px;min-width:33px;}
.md [href$="-.flairutakata1"], .flairutakata1{background-position:0 -21120px;}
.md [href$="-.flairwaraji"], .flairwaraji{background-position:0 -21160px;min-width:32px;}
.md [href$="-.flairyagura"], .flairyagura{background-position:0 -21200px;}
.md [href$="-.flairyagura1"], .flairyagura1{background-position:0 -21240px;}
.md [href$="-.flairyagura2"], .flairyagura2{background-position:0 -21280px;}
.md [href$="-.flairyagura3"], .flairyagura3{background-position:0 -21320px;min-width:36px;}
.md [href$="-.flairyahiko"], .flairyahiko{background-position:0 -21360px;}
.md [href$="-.flairyamato"], .flairyamato{background-position:0 -21400px;}
.md [href$="-.flairyamato1"], .flairyamato1{background-position:0 -21440px;}
.md [href$="-.flairyamato2"], .flairyamato2{background-position:0 -21480px;}
.md [href$="-.flairyashamaru"], .flairyashamaru{background-position:0 -21520px;}
.md [href$="-.flairyoroi"], .flairyoroi{background-position:0 -21560px;}
.md [href$="-.flairyugito"], .flairyugito{background-position:0 -21600px;}
.md [href$="-.flairyugito1"], .flairyugito1{background-position:0 -21640px;}
.md [href$="-.flairyugito2"], .flairyugito2{background-position:0 -21680px;}
.md [href$="-.flairyugito3"], .flairyugito3{background-position:0 -21720px;}
.md [href$="-.flairzabuza"], .flairzabuza{background-position:0 -21760px;}
.md [href$="-.flairzabuza1"], .flairzabuza1{background-position:0 -21800px;}
.md [href$="-.flairzabuza2"], .flairzabuza2{background-position:0 -21840px;}
.md [href$="-.flairzabuza3"], .flairzabuza3{background-position:0 -21880px;}
.md [href$="-.flairzabuza4"], .flairzabuza4{background-position:0 -21920px;}
.md [href$="-.flairzabuza5"], .flairzabuza5{background-position:0 -21960px;min-width:34px;}
.md [href$="-.flairzabuza6"], .flairzabuza6{background-position:0 -22000px;}
.md [href$="-.flairzabuza7"], .flairzabuza7{background-position:0 -22040px;}
.md [href$="-.flairzaku"], .flairzaku{background-position:0 -22080px;min-width:32px;}
.md [href$="-.flairzetsu"], .flairzetsu{background-position:0 -22120px;}
.md [href$="-.flairzetsu1"], .flairzetsu1{background-position:0 -22160px;min-width:34px;}
.md [href$="-.flairzori"], .flairzori{background-position:0 -22200px;min-width:33px;}