.md [href$="-3rdA"], .flair-3rdA { background-position: 0 0; min-width: 27px; } 
.md [href$="-3rdA1"], .flair-3rdA1 { background-position: 0 -40px; } 
.md [href$="-A"], .flair-A { background-position: 0 -80px; } 
.md [href$="-A1"], .flair-A1 { background-position: 0 -120px; } 
.md [href$="-A2"], .flair-A2 { background-position: 0 -160px; min-width: 34px; } 
.md [href$="-A3"], .flair-A3 { background-position: 0 -200px; } 
.md [href$="-ameyuri"], .flair-ameyuri { background-position: 0 -240px; } 
.md [href$="-ameyuri1"], .flair-ameyuri1 { background-position: 0 -280px; } 
.md [href$="-anko"], .flair-anko { background-position: 0 -320px; min-width: 32px; } 
.md [href$="-anko1"], .flair-anko1 { background-position: 0 -360px; } 
.md [href$="-anko2"], .flair-anko2 { background-position: 0 -400px; } 
.md [href$="-ashura"], .flair-ashura { background-position: 0 -440px; min-width: 34px; } 
.md [href$="-ashura1"], .flair-ashura1 { background-position: 0 -480px; } 
.md [href$="-asuma"], .flair-asuma { background-position: 0 -520px; } 
.md [href$="-asuma1"], .flair-asuma1 { background-position: 0 -560px; } 
.md [href$="-asuma2"], .flair-asuma2 { background-position: 0 -600px; min-width: 34px; } 
.md [href$="-baki"], .flair-baki { background-position: 0 -640px; } 
.md [href$="-bandit"], .flair-bandit { background-position: 0 -680px; } 
.md [href$="-bandit-lackey"], .flair-bandit-lackey { background-position: 0 -720px; } 
.md [href$="-bandit-leader"], .flair-bandit-leader { background-position: 0 -760px; min-width: 34px; } 
.md [href$="-bee"], .flair-bee { background-position: 0 -800px; } 
.md [href$="-bee1"], .flair-bee1 { background-position: 0 -840px; } 
.md [href$="-bee2"], .flair-bee2 { background-position: 0 -880px; } 
.md [href$="-bee3"], .flair-bee3 { background-position: 0 -920px; } 
.md [href$="-bee4"], .flair-bee4 { background-position: 0 -960px; } 
.md [href$="-bee5"], .flair-bee5 { background-position: 0 -1000px; } 
.md [href$="-chino"], .flair-chino { background-position: 0 -1040px; } 
.md [href$="-chino1"], .flair-chino1 { background-position: 0 -1080px; } 
.md [href$="-chiriku"], .flair-chiriku { background-position: 0 -1120px; min-width: 36px; } 
.md [href$="-chiriku1"], .flair-chiriku1 { background-position: 0 -1160px; min-width: 36px; } 
.md [href$="-chiyo"], .flair-chiyo { background-position: 0 -1200px; min-width: 37px; } 
.md [href$="-chiyo1"], .flair-chiyo1 { background-position: 0 -1240px; } 
.md [href$="-choji"], .flair-choji { background-position: 0 -1280px; } 
.md [href$="-choji1"], .flair-choji1 { background-position: 0 -1320px; min-width: 34px; } 
.md [href$="-choji2"], .flair-choji2 { background-position: 0 -1360px; min-width: 34px; } 
.md [href$="-choji3"], .flair-choji3 { background-position: 0 -1400px; min-width: 34px; } 
.md [href$="-choji4"], .flair-choji4 { background-position: 0 -1440px; } 
.md [href$="-choji5"], .flair-choji5 { background-position: 0 -1480px; } 
.md [href$="-choji6"], .flair-choji6 { background-position: 0 -1520px; } 
.md [href$="-choji7"], .flair-choji7 { background-position: 0 -1560px; } 
.md [href$="-chojuro"], .flair-chojuro { background-position: 0 -1600px; } 
.md [href$="-chojuro1"], .flair-chojuro1 { background-position: 0 -1640px; } 
.md [href$="-chojuro2"], .flair-chojuro2 { background-position: 0 -1680px; min-width: 34px; } 
.md [href$="-chojuro3"], .flair-chojuro3 { background-position: 0 -1720px; min-width: 36px; } 
.md [href$="-choza"], .flair-choza { background-position: 0 -1760px; min-width: 34px; } 
.md [href$="-dai"], .flair-dai { background-position: 0 -1800px; min-width: 37px; } 
.md [href$="-dai1"], .flair-dai1 { background-position: 0 -1840px; } 
.md [href$="-danzo"], .flair-danzo { background-position: 0 -1880px; } 
.md [href$="-danzo1"], .flair-danzo1 { background-position: 0 -1920px; } 
.md [href$="-darui"], .flair-darui { background-position: 0 -1960px; } 
.md [href$="-darui1"], .flair-darui1 { background-position: 0 -2000px; } 
.md [href$="-deidara"], .flair-deidara { background-position: 0 -2040px; } 
.md [href$="-deidara1"], .flair-deidara1 { background-position: 0 -2080px; } 
.md [href$="-deidara2"], .flair-deidara2 { background-position: 0 -2120px; } 
.md [href$="-deidara3"], .flair-deidara3 { background-position: 0 -2160px; min-width: 34px; } 
.md [href$="-deidara4"], .flair-deidara4 { background-position: 0 -2200px; } 
.md [href$="-deidara5"], .flair-deidara5 { background-position: 0 -2240px; } 
.md [href$="-deidara6"], .flair-deidara6 { background-position: 0 -2280px; min-width: 33px; } 
.md [href$="-deidara7"], .flair-deidara7 { background-position: 0 -2320px; } 
.md [href$="-deidara8"], .flair-deidara8 { background-position: 0 -2360px; } 
.md [href$="-dosu"], .flair-dosu { background-position: 0 -2400px; } 
.md [href$="-ebisu"], .flair-ebisu { background-position: 0 -2440px; min-width: 36px; } 
.md [href$="-fuguki"], .flair-fuguki { background-position: 0 -2480px; } 
.md [href$="-fuguki1"], .flair-fuguki1 { background-position: 0 -2520px; } 
.md [href$="-fuu"], .flair-fuu { background-position: 0 -2560px; min-width: 36px; } 
.md [href$="-fuu1"], .flair-fuu1 { background-position: 0 -2600px; } 
.md [href$="-gaara"], .flair-gaara { background-position: 0 -2640px; min-width: 39px; } 
.md [href$="-gaara1"], .flair-gaara1 { background-position: 0 -2680px; min-width: 38px; } 
.md [href$="-gaara2"], .flair-gaara2 { background-position: 0 -2720px; min-width: 34px; } 
.md [href$="-gaara3"], .flair-gaara3 { background-position: 0 -2760px; min-width: 34px; } 
.md [href$="-gaara4"], .flair-gaara4 { background-position: 0 -2800px; } 
.md [href$="-gaara5"], .flair-gaara5 { background-position: 0 -2840px; } 
.md [href$="-gaara6"], .flair-gaara6 { background-position: 0 -2880px; min-width: 37px; } 
.md [href$="-gaara7"], .flair-gaara7 { background-position: 0 -2920px; } 
.md [href$="-gaara8"], .flair-gaara8 { background-position: 0 -2960px; min-width: 34px; } 
.md [href$="-gaara9"], .flair-gaara9 { background-position: 0 -3000px; } 
.md [href$="-gaara10"], .flair-gaara10 { background-position: 0 -3040px; } 
.md [href$="-gaara11"], .flair-gaara11 { background-position: 0 -3080px; min-width: 34px; } 
.md [href$="-gaara12"], .flair-gaara12 { background-position: 0 -3120px; } 
.md [href$="-gaara13"], .flair-gaara13 { background-position: 0 -3160px; } 
.md [href$="-gengetsu"], .flair-gengetsu { background-position: 0 -3200px; } 
.md [href$="-gengetsu1"], .flair-gengetsu1 { background-position: 0 -3240px; } 
.md [href$="-gengo"], .flair-gengo { background-position: 0 -3280px; } 
.md [href$="-gengo1"], .flair-gengo1 { background-position: 0 -3320px; } 
.md [href$="-genma"], .flair-genma { background-position: 0 -3360px; min-width: 36px; } 
.md [href$="-gozu"], .flair-gozu { background-position: 0 -3400px; } 
.md [href$="-guy"], .flair-guy { background-position: 0 -3440px; min-width: 34px; } 
.md [href$="-guy1"], .flair-guy1 { background-position: 0 -3480px; min-width: 36px; } 
.md [href$="-guy2"], .flair-guy2 { background-position: 0 -3520px; } 
.md [href$="-guy3"], .flair-guy3 { background-position: 0 -3560px; } 
.md [href$="-guy4"], .flair-guy4 { background-position: 0 -3600px; min-width: 34px; } 
.md [href$="-guy5"], .flair-guy5 { background-position: 0 -3640px; } 
.md [href$="-guy6"], .flair-guy6 { background-position: 0 -3680px; } 
.md [href$="-guy7"], .flair-guy7 { background-position: 0 -3720px; } 
.md [href$="-guy8"], .flair-guy8 { background-position: 0 -3760px; } 
.md [href$="-guy9"], .flair-guy9 { background-position: 0 -3800px; } 
.md [href$="-hagoromo"], .flair-hagoromo { background-position: 0 -3840px; } 
.md [href$="-haku"], .flair-haku { background-position: 0 -3880px; } 
.md [href$="-haku1"], .flair-haku1 { background-position: 0 -3920px; } 
.md [href$="-haku2"], .flair-haku2 { background-position: 0 -3960px; } 
.md [href$="-haku3"], .flair-haku3 { background-position: 0 -4000px; } 
.md [href$="-haku4"], .flair-haku4 { background-position: 0 -4040px; min-width: 36px; } 
.md [href$="-haku5"], .flair-haku5 { background-position: 0 -4080px; } 
.md [href$="-haku6"], .flair-haku6 { background-position: 0 -4120px; } 
.md [href$="-haku7"], .flair-haku7 { background-position: 0 -4160px; } 
.md [href$="-haku-pvp"], .flair-haku-pvp { background-position: 0 -4200px; } 
.md [href$="-han"], .flair-han { background-position: 0 -4240px; } 
.md [href$="-han1"], .flair-han1 { background-position: 0 -4280px; } 
.md [href$="-hanabi"], .flair-hanabi { background-position: 0 -4320px; } 
.md [href$="-hanzo"], .flair-hanzo { background-position: 0 -4360px; min-width: 36px; } 
.md [href$="-hanzo1"], .flair-hanzo1 { background-position: 0 -4400px; } 
.md [href$="-hanzo2"], .flair-hanzo2 { background-position: 0 -4440px; } 
.md [href$="-hanzo3"], .flair-hanzo3 { background-position: 0 -4480px; min-width: 36px; } 
.md [href$="-hashirama"], .flair-hashirama { background-position: 0 -4520px; } 
.md [href$="-hashirama1"], .flair-hashirama1 { background-position: 0 -4560px; min-width: 36px; } 
.md [href$="-hashirama2"], .flair-hashirama2 { background-position: 0 -4600px; min-width: 36px; } 
.md [href$="-hashirama3"], .flair-hashirama3 { background-position: 0 -4640px; } 
.md [href$="-hashirama4"], .flair-hashirama4 { background-position: 0 -4680px; } 
.md [href$="-hashirama5"], .flair-hashirama5 { background-position: 0 -4720px; } 
.md [href$="-hashirama6"], .flair-hashirama6 { background-position: 0 -4760px; } 
.md [href$="-hayate"], .flair-hayate { background-position: 0 -4800px; min-width: 36px; } 
.md [href$="-hayate1"], .flair-hayate1 { background-position: 0 -4840px; } 
.md [href$="-hiashi"], .flair-hiashi { background-position: 0 -4880px; min-width: 30px; } 
.md [href$="-hidan"], .flair-hidan { background-position: 0 -4920px; } 
.md [href$="-hidan1"], .flair-hidan1 { background-position: 0 -4960px; } 
.md [href$="-hinata"], .flair-hinata { background-position: 0 -5000px; min-width: 36px; } 
.md [href$="-hinata1"], .flair-hinata1 { background-position: 0 -5040px; min-width: 37px; } 
.md [href$="-hinata2"], .flair-hinata2 { background-position: 0 -5080px; min-width: 38px; } 
.md [href$="-hinata3"], .flair-hinata3 { background-position: 0 -5120px; min-width: 36px; } 
.md [href$="-hinata4"], .flair-hinata4 { background-position: 0 -5160px; } 
.md [href$="-hinata5"], .flair-hinata5 { background-position: 0 -5200px; min-width: 36px; } 
.md [href$="-hinata6"], .flair-hinata6 { background-position: 0 -5240px; } 
.md [href$="-hinata7"], .flair-hinata7 { background-position: 0 -5280px; } 
.md [href$="-hinata8"], .flair-hinata8 { background-position: 0 -5320px; } 
.md [href$="-hinata9"], .flair-hinata9 { background-position: 0 -5360px; } 
.md [href$="-hinata10"], .flair-hinata10 { background-position: 0 -5400px; } 
.md [href$="-hinata-pvp"], .flair-hinata-pvp { background-position: 0 -5440px; } 
.md [href$="-hiruzen"], .flair-hiruzen { background-position: 0 -5480px; } 
.md [href$="-hiruzen1"], .flair-hiruzen1 { background-position: 0 -5520px; min-width: 36px; } 
.md [href$="-hiruzen2"], .flair-hiruzen2 { background-position: 0 -5560px; min-width: 38px; } 
.md [href$="-hizashi"], .flair-hizashi { background-position: 0 -5600px; min-width: 30px; } 
.md [href$="-ibiki"], .flair-ibiki { background-position: 0 -5640px; min-width: 36px; } 
.md [href$="-indra"], .flair-indra { background-position: 0 -5680px; } 
.md [href$="-indra1"], .flair-indra1 { background-position: 0 -5720px; } 
.md [href$="-ino"], .flair-ino { background-position: 0 -5760px; } 
.md [href$="-ino1"], .flair-ino1 { background-position: 0 -5800px; min-width: 34px; } 
.md [href$="-ino2"], .flair-ino2 { background-position: 0 -5840px; } 
.md [href$="-ino3"], .flair-ino3 { background-position: 0 -5880px; } 
.md [href$="-ino4"], .flair-ino4 { background-position: 0 -5920px; } 
.md [href$="-ino5"], .flair-ino5 { background-position: 0 -5960px; } 
.md [href$="-ino6"], .flair-ino6 { background-position: 0 -6000px; } 
.md [href$="-ino7"], .flair-ino7 { background-position: 0 -6040px; min-width: 33px; } 
.md [href$="-ino8"], .flair-ino8 { background-position: 0 -6080px; } 
.md [href$="-ino9"], .flair-ino9 { background-position: 0 -6120px; } 
.md [href$="-ino10"], .flair-ino10 { background-position: 0 -6160px; } 
.md [href$="-ino11"], .flair-ino11 { background-position: 0 -6200px; } 
.md [href$="-inoichi"], .flair-inoichi { background-position: 0 -6240px; } 
.md [href$="-iruka"], .flair-iruka { background-position: 0 -6280px; } 
.md [href$="-iruka1"], .flair-iruka1 { background-position: 0 -6320px; } 
.md [href$="-itachi"], .flair-itachi { background-position: 0 -6360px; } 
.md [href$="-itachi1"], .flair-itachi1 { background-position: 0 -6400px; min-width: 34px; } 
.md [href$="-itachi2"], .flair-itachi2 { background-position: 0 -6440px; min-width: 34px; } 
.md [href$="-itachi3"], .flair-itachi3 { background-position: 0 -6480px; } 
.md [href$="-itachi4"], .flair-itachi4 { background-position: 0 -6520px; } 
.md [href$="-itachi5"], .flair-itachi5 { background-position: 0 -6560px; } 
.md [href$="-itachi6"], .flair-itachi6 { background-position: 0 -6600px; } 
.md [href$="-itachi7"], .flair-itachi7 { background-position: 0 -6640px; } 
.md [href$="-itachi8"], .flair-itachi8 { background-position: 0 -6680px; } 
.md [href$="-itachi9"], .flair-itachi9 { background-position: 0 -6720px; } 
.md [href$="-itachi10"], .flair-itachi10 { background-position: 0 -6760px; } 
.md [href$="-itachi11"], .flair-itachi11 { background-position: 0 -6800px; min-width: 37px; } 
.md [href$="-itachi12"], .flair-itachi12 { background-position: 0 -6840px; min-width: 36px; } 
.md [href$="-itachi13"], .flair-itachi13 { background-position: 0 -6880px; } 
.md [href$="-izumo"], .flair-izumo { background-position: 0 -6920px; min-width: 36px; } 
.md [href$="-izuna"], .flair-izuna { background-position: 0 -6960px; } 
.md [href$="-jinin"], .flair-jinin { background-position: 0 -7000px; } 
.md [href$="-jinin1"], .flair-jinin1 { background-position: 0 -7040px; } 
.md [href$="-jinpachi"], .flair-jinpachi { background-position: 0 -7080px; } 
.md [href$="-jinpachi1"], .flair-jinpachi1 { background-position: 0 -7120px; } 
.md [href$="-jiraiya"], .flair-jiraiya { background-position: 0 -7160px; min-width: 37px; } 
.md [href$="-jiraiya1"], .flair-jiraiya1 { background-position: 0 -7200px; min-width: 34px; } 
.md [href$="-jiraiya2"], .flair-jiraiya2 { background-position: 0 -7240px; } 
.md [href$="-jiraiya3"], .flair-jiraiya3 { background-position: 0 -7280px; } 
.md [href$="-jiraiya4"], .flair-jiraiya4 { background-position: 0 -7320px; } 
.md [href$="-jiraiya5"], .flair-jiraiya5 { background-position: 0 -7360px; min-width: 33px; } 
.md [href$="-jiraiya6"], .flair-jiraiya6 { background-position: 0 -7400px; min-width: 34px; } 
.md [href$="-jiraiya7"], .flair-jiraiya7 { background-position: 0 -7440px; } 
.md [href$="-jiraiya8"], .flair-jiraiya8 { background-position: 0 -7480px; } 
.md [href$="-jiraiya9"], .flair-jiraiya9 { background-position: 0 -7520px; } 
.md [href$="-jiraiya10"], .flair-jiraiya10 { background-position: 0 -7560px; } 
.md [href$="-jiraiya11"], .flair-jiraiya11 { background-position: 0 -7600px; } 
.md [href$="-jirobo"], .flair-jirobo { background-position: 0 -7640px; } 
.md [href$="-jirobo1"], .flair-jirobo1 { background-position: 0 -7680px; min-width: 36px; } 
.md [href$="-jirobo2"], .flair-jirobo2 { background-position: 0 -7720px; } 
.md [href$="-jirobo3"], .flair-jirobo3 { background-position: 0 -7760px; min-width: 34px; } 
.md [href$="-jugo"], .flair-jugo { background-position: 0 -7800px; } 
.md [href$="-jugo1"], .flair-jugo1 { background-position: 0 -7840px; } 
.md [href$="-jugo2"], .flair-jugo2 { background-position: 0 -7880px; } 
.md [href$="-jugo3"], .flair-jugo3 { background-position: 0 -7920px; } 
.md [href$="-kabuto"], .flair-kabuto { background-position: 0 -7960px; } 
.md [href$="-kabuto1"], .flair-kabuto1 { background-position: 0 -8000px; } 
.md [href$="-kabuto2"], .flair-kabuto2 { background-position: 0 -8040px; } 
.md [href$="-kabuto3"], .flair-kabuto3 { background-position: 0 -8080px; } 
.md [href$="-kabuto4"], .flair-kabuto4 { background-position: 0 -8120px; } 
.md [href$="-kabuto5"], .flair-kabuto5 { background-position: 0 -8160px; } 
.md [href$="-kabuto6"], .flair-kabuto6 { background-position: 0 -8200px; } 
.md [href$="-kaguya"], .flair-kaguya { background-position: 0 -8240px; min-width: 36px; } 
.md [href$="-kaguya1"], .flair-kaguya1 { background-position: 0 -8280px; } 
.md [href$="-kaguya2"], .flair-kaguya2 { background-position: 0 -8320px; min-width: 34px; } 
.md [href$="-kaguya3"], .flair-kaguya3 { background-position: 0 -8360px; } 
.md [href$="-kakashi"], .flair-kakashi { background-position: 0 -8400px; min-width: 34px; } 
.md [href$="-kakashi1"], .flair-kakashi1 { background-position: 0 -8440px; } 
.md [href$="-kakashi2"], .flair-kakashi2 { background-position: 0 -8480px; } 
.md [href$="-kakashi3"], .flair-kakashi3 { background-position: 0 -8520px; } 
.md [href$="-kakashi4"], .flair-kakashi4 { background-position: 0 -8560px; } 
.md [href$="-kakashi5"], .flair-kakashi5 { background-position: 0 -8600px; } 
.md [href$="-kakashi6"], .flair-kakashi6 { background-position: 0 -8640px; } 
.md [href$="-kakashi7"], .flair-kakashi7 { background-position: 0 -8680px; } 
.md [href$="-kakashi8"], .flair-kakashi8 { background-position: 0 -8720px; } 
.md [href$="-kakashi9"], .flair-kakashi9 { background-position: 0 -8760px; } 
.md [href$="-kakashi10"], .flair-kakashi10 { background-position: 0 -8800px; } 
.md [href$="-kakashi11"], .flair-kakashi11 { background-position: 0 -8840px; min-width: 34px; } 
.md [href$="-kakashi12"], .flair-kakashi12 { background-position: 0 -8880px; } 
.md [href$="-kakashi13"], .flair-kakashi13 { background-position: 0 -8920px; } 
.md [href$="-kakashi14"], .flair-kakashi14 { background-position: 0 -8960px; } 
.md [href$="-kakashi15"], .flair-kakashi15 { background-position: 0 -9000px; } 
.md [href$="-kakashi16"], .flair-kakashi16 { background-position: 0 -9040px; min-width: 36px; } 
.md [href$="-kakashi17"], .flair-kakashi17 { background-position: 0 -9080px; min-width: 36px; } 
.md [href$="-kakashi18"], .flair-kakashi18 { background-position: 0 -9120px; min-width: 36px; } 
.md [href$="-kakkou"], .flair-kakkou { background-position: 0 -9160px; } 
.md [href$="-kakuzu"], .flair-kakuzu { background-position: 0 -9200px; } 
.md [href$="-kakuzu1"], .flair-kakuzu1 { background-position: 0 -9240px; } 
.md [href$="-kankuro"], .flair-kankuro { background-position: 0 -9280px; } 
.md [href$="-kankuro1"], .flair-kankuro1 { background-position: 0 -9320px; } 
.md [href$="-kankuro2"], .flair-kankuro2 { background-position: 0 -9360px; } 
.md [href$="-kankuro3"], .flair-kankuro3 { background-position: 0 -9400px; } 
.md [href$="-karin"], .flair-karin { background-position: 0 -9440px; min-width: 36px; } 
.md [href$="-karin1"], .flair-karin1 { background-position: 0 -9480px; min-width: 40px; } 
.md [href$="-karin2"], .flair-karin2 { background-position: 0 -9520px; } 
.md [href$="-kiba"], .flair-kiba { background-position: 0 -9560px; } 
.md [href$="-kiba1"], .flair-kiba1 { background-position: 0 -9600px; min-width: 36px; } 
.md [href$="-kiba2"], .flair-kiba2 { background-position: 0 -9640px; } 
.md [href$="-kiba3"], .flair-kiba3 { background-position: 0 -9680px; } 
.md [href$="-kiba4"], .flair-kiba4 { background-position: 0 -9720px; } 
.md [href$="-kidomaru"], .flair-kidomaru { background-position: 0 -9760px; } 
.md [href$="-kidomaru1"], .flair-kidomaru1 { background-position: 0 -9800px; min-width: 36px; } 
.md [href$="-kidomaru2"], .flair-kidomaru2 { background-position: 0 -9840px; } 
.md [href$="-kidomaru3"], .flair-kidomaru3 { background-position: 0 -9880px; } 
.md [href$="-kimimaro"], .flair-kimimaro { background-position: 0 -9920px; min-width: 36px; } 
.md [href$="-kimimaro1"], .flair-kimimaro1 { background-position: 0 -9960px; min-width: 32px; } 
.md [href$="-kimimaro2"], .flair-kimimaro2 { background-position: 0 -10000px; } 
.md [href$="-kimimaro3"], .flair-kimimaro3 { background-position: 0 -10040px; min-width: 39px; } 
.md [href$="-kimimaro4"], .flair-kimimaro4 { background-position: 0 -10080px; } 
.md [href$="-kimimaro5"], .flair-kimimaro5 { background-position: 0 -10120px; } 
.md [href$="-kin"], .flair-kin { background-position: 0 -10160px; min-width: 36px; } 
.md [href$="-kisame"], .flair-kisame { background-position: 0 -10200px; } 
.md [href$="-kisame1"], .flair-kisame1 { background-position: 0 -10240px; } 
.md [href$="-kisame2"], .flair-kisame2 { background-position: 0 -10280px; } 
.md [href$="-kisame3"], .flair-kisame3 { background-position: 0 -10320px; } 
.md [href$="-konan"], .flair-konan { background-position: 0 -10360px; } 
.md [href$="-konan1"], .flair-konan1 { background-position: 0 -10400px; } 
.md [href$="-konan2"], .flair-konan2 { background-position: 0 -10440px; } 
.md [href$="-konan3"], .flair-konan3 { background-position: 0 -10480px; } 
.md [href$="-konan4"], .flair-konan4 { background-position: 0 -10520px; } 
.md [href$="-konan5"], .flair-konan5 { background-position: 0 -10560px; } 
.md [href$="-konan6"], .flair-konan6 { background-position: 0 -10600px; } 
.md [href$="-konan7"], .flair-konan7 { background-position: 0 -10640px; } 
.md [href$="-konan8"], .flair-konan8 { background-position: 0 -10680px; } 
.md [href$="-konohamaru"], .flair-konohamaru { background-position: 0 -10720px; } 
.md [href$="-konohamaru1"], .flair-konohamaru1 { background-position: 0 -10760px; } 
.md [href$="-konohamaru2"], .flair-konohamaru2 { background-position: 0 -10800px; } 
.md [href$="-kotetsu"], .flair-kotetsu { background-position: 0 -10840px; } 
.md [href$="-kurenai"], .flair-kurenai { background-position: 0 -10880px; min-width: 38px; } 
.md [href$="-kurenai1"], .flair-kurenai1 { background-position: 0 -10920px; } 
.md [href$="-kurotsuchi"], .flair-kurotsuchi { background-position: 0 -10960px; min-width: 34px; } 
.md [href$="-kurotsuchi1"], .flair-kurotsuchi1 { background-position: 0 -11000px; } 
.md [href$="-kushimaru"], .flair-kushimaru { background-position: 0 -11040px; } 
.md [href$="-kushimaru1"], .flair-kushimaru1 { background-position: 0 -11080px; } 
.md [href$="-kushina"], .flair-kushina { background-position: 0 -11120px; } 
.md [href$="-kushina1"], .flair-kushina1 { background-position: 0 -11160px; } 
.md [href$="-kushina2"], .flair-kushina2 { background-position: 0 -11200px; } 
.md [href$="-kushina3"], .flair-kushina3 { background-position: 0 -11240px; min-width: 34px; } 
.md [href$="-kushina4"], .flair-kushina4 { background-position: 0 -11280px; min-width: 36px; } 
.md [href$="-kushina6"], .flair-kushina6 { background-position: 0 -11320px; } 
.md [href$="-leaf-anbu-female"], .flair-leaf-anbu-female { background-position: 0 -11360px; min-width: 36px; } 
.md [href$="-leaf-anbu-male"], .flair-leaf-anbu-male { background-position: 0 -11400px; min-width: 34px; } 
.md [href$="-leaf-chunin-male"], .flair-leaf-chunin-male { background-position: 0 -11440px; min-width: 33px; } 
.md [href$="-lee"], .flair-lee { background-position: 0 -11480px; min-width: 34px; } 
.md [href$="-lee1"], .flair-lee1 { background-position: 0 -11520px; min-width: 36px; } 
.md [href$="-lee2"], .flair-lee2 { background-position: 0 -11560px; } 
.md [href$="-lee3"], .flair-lee3 { background-position: 0 -11600px; } 
.md [href$="-lee4"], .flair-lee4 { background-position: 0 -11640px; } 
.md [href$="-lee5"], .flair-lee5 { background-position: 0 -11680px; } 
.md [href$="-lee6"], .flair-lee6 { background-position: 0 -11720px; } 
.md [href$="-lee7"], .flair-lee7 { background-position: 0 -11760px; min-width: 31px; } 
.md [href$="-madara"], .flair-madara { background-position: 0 -11800px; } 
.md [href$="-madara1"], .flair-madara1 { background-position: 0 -11840px; } 
.md [href$="-madara2"], .flair-madara2 { background-position: 0 -11880px; } 
.md [href$="-madara3"], .flair-madara3 { background-position: 0 -11920px; } 
.md [href$="-madara4"], .flair-madara4 { background-position: 0 -11960px; } 
.md [href$="-madara5"], .flair-madara5 { background-position: 0 -12000px; } 
.md [href$="-madara6"], .flair-madara6 { background-position: 0 -12040px; } 
.md [href$="-madara7"], .flair-madara7 { background-position: 0 -12080px; } 
.md [href$="-madara8"], .flair-madara8 { background-position: 0 -12120px; } 
.md [href$="-madara9"], .flair-madara9 { background-position: 0 -12160px; } 
.md [href$="-madara10"], .flair-madara10 { background-position: 0 -12200px; } 
.md [href$="-mahiru"], .flair-mahiru { background-position: 0 -12240px; } 
.md [href$="-mangetsu"], .flair-mangetsu { background-position: 0 -12280px; } 
.md [href$="-mangetsu1"], .flair-mangetsu1 { background-position: 0 -12320px; } 
.md [href$="-mei"], .flair-mei { background-position: 0 -12360px; } 
.md [href$="-mei1"], .flair-mei1 { background-position: 0 -12400px; min-width: 37px; } 
.md [href$="-meizu"], .flair-meizu { background-position: 0 -12440px; } 
.md [href$="-mifune"], .flair-mifune { background-position: 0 -12480px; } 
.md [href$="-minato"], .flair-minato { background-position: 0 -12520px; min-width: 34px; } 
.md [href$="-minato1"], .flair-minato1 { background-position: 0 -12560px; } 
.md [href$="-minato2"], .flair-minato2 { background-position: 0 -12600px; } 
.md [href$="-minato3"], .flair-minato3 { background-position: 0 -12640px; min-width: 34px; } 
.md [href$="-minato4"], .flair-minato4 { background-position: 0 -12680px; } 
.md [href$="-minato5"], .flair-minato5 { background-position: 0 -12720px; } 
.md [href$="-minato6"], .flair-minato6 { background-position: 0 -12760px; } 
.md [href$="-minato7"], .flair-minato7 { background-position: 0 -12800px; } 
.md [href$="-minato8"], .flair-minato8 { background-position: 0 -12840px; } 
.md [href$="-minato9"], .flair-minato9 { background-position: 0 -12880px; } 
.md [href$="-minato10"], .flair-minato10 { background-position: 0 -12920px; } 
.md [href$="-minato11"], .flair-minato11 { background-position: 0 -12960px; } 
.md [href$="-mist-anbu-male"], .flair-mist-anbu-male { background-position: 0 -13000px; } 
.md [href$="-mist-chunin-male"], .flair-mist-chunin-male { background-position: 0 -13040px; min-width: 36px; } 
.md [href$="-misumi"], .flair-misumi { background-position: 0 -13080px; min-width: 36px; } 
.md [href$="-mizuki"], .flair-mizuki { background-position: 0 -13120px; min-width: 34px; } 
.md [href$="-mu"], .flair-mu { background-position: 0 -13160px; } 
.md [href$="-nagato"], .flair-nagato { background-position: 0 -13200px; min-width: 36px; } 
.md [href$="-nagato1"], .flair-nagato1 { background-position: 0 -13240px; min-width: 36px; } 
.md [href$="-nagato2"], .flair-nagato2 { background-position: 0 -13280px; } 
.md [href$="-nagato3"], .flair-nagato3 { background-position: 0 -13320px; min-width: 32px; } 
.md [href$="-naruto"], .flair-naruto { background-position: 0 -13360px; } 
.md [href$="-naruto1"], .flair-naruto1 { background-position: 0 -13400px; } 
.md [href$="-naruto2"], .flair-naruto2 { background-position: 0 -13440px; min-width: 34px; } 
.md [href$="-naruto3"], .flair-naruto3 { background-position: 0 -13480px; min-width: 36px; } 
.md [href$="-naruto4"], .flair-naruto4 { background-position: 0 -13520px; } 
.md [href$="-naruto5"], .flair-naruto5 { background-position: 0 -13560px; } 
.md [href$="-naruto6"], .flair-naruto6 { background-position: 0 -13600px; } 
.md [href$="-naruto7"], .flair-naruto7 { background-position: 0 -13640px; } 
.md [href$="-naruto8"], .flair-naruto8 { background-position: 0 -13680px; } 
.md [href$="-naruto9"], .flair-naruto9 { background-position: 0 -13720px; } 
.md [href$="-naruto10"], .flair-naruto10 { background-position: 0 -13760px; } 
.md [href$="-naruto11"], .flair-naruto11 { background-position: 0 -13800px; min-width: 34px; } 
.md [href$="-naruto12"], .flair-naruto12 { background-position: 0 -13840px; } 
.md [href$="-naruto13"], .flair-naruto13 { background-position: 0 -13880px; min-width: 36px; } 
.md [href$="-naruto14"], .flair-naruto14 { background-position: 0 -13920px; } 
.md [href$="-naruto15"], .flair-naruto15 { background-position: 0 -13960px; min-width: 34px; } 
.md [href$="-naruto16"], .flair-naruto16 { background-position: 0 -14000px; } 
.md [href$="-naruto17"], .flair-naruto17 { background-position: 0 -14040px; } 
.md [href$="-naruto18"], .flair-naruto18 { background-position: 0 -14080px; } 
.md [href$="-naruto19"], .flair-naruto19 { background-position: 0 -14120px; } 
.md [href$="-naruto20"], .flair-naruto20 { background-position: 0 -14160px; } 
.md [href$="-naruto21"], .flair-naruto21 { background-position: 0 -14200px; } 
.md [href$="-naruto22"], .flair-naruto22 { background-position: 0 -14240px; } 
.md [href$="-naruto23"], .flair-naruto23 { background-position: 0 -14280px; } 
.md [href$="-naruto24"], .flair-naruto24 { background-position: 0 -14320px; } 
.md [href$="-naruto25"], .flair-naruto25 { background-position: 0 -14360px; } 
.md [href$="-naruto26"], .flair-naruto26 { background-position: 0 -14400px; } 
.md [href$="-naruto27"], .flair-naruto27 { background-position: 0 -14440px; } 
.md [href$="-naruto28"], .flair-naruto28 { background-position: 0 -14480px; } 
.md [href$="-naruto29"], .flair-naruto29 { background-position: 0 -14520px; } 
.md [href$="-naruto30"], .flair-naruto30 { background-position: 0 -14560px; min-width: 37px; } 
.md [href$="-naruto31"], .flair-naruto31 { background-position: 0 -14600px; } 
.md [href$="-naruto32"], .flair-naruto32 { background-position: 0 -14640px; } 
.md [href$="-naruto33"], .flair-naruto33 { background-position: 0 -14680px; } 
.md [href$="-naruto34"], .flair-naruto34 { background-position: 0 -14720px; min-width: 34px; } 
.md [href$="-naruto35"], .flair-naruto35 { background-position: 0 -14760px; } 
.md [href$="-naruto36"], .flair-naruto36 { background-position: 0 -14800px; } 
.md [href$="-naruto37"], .flair-naruto37 { background-position: 0 -14840px; } 
.md [href$="-naruto-fem"], .flair-naruto-fem { background-position: 0 -14880px; } 
.md [href$="-neji"], .flair-neji { background-position: 0 -14920px; min-width: 36px; } 
.md [href$="-neji1"], .flair-neji1 { background-position: 0 -14960px; } 
.md [href$="-neji2"], .flair-neji2 { background-position: 0 -15000px; } 
.md [href$="-neji3"], .flair-neji3 { background-position: 0 -15040px; } 
.md [href$="-neji4"], .flair-neji4 { background-position: 0 -15080px; min-width: 36px; } 
.md [href$="-neji5"], .flair-neji5 { background-position: 0 -15120px; } 
.md [href$="-neji6"], .flair-neji6 { background-position: 0 -15160px; } 
.md [href$="-obito"], .flair-obito { background-position: 0 -15200px; min-width: 34px; } 
.md [href$="-obito1"], .flair-obito1 { background-position: 0 -15240px; } 
.md [href$="-obito2"], .flair-obito2 { background-position: 0 -15280px; } 
.md [href$="-obito3"], .flair-obito3 { background-position: 0 -15320px; min-width: 34px; } 
.md [href$="-obito4"], .flair-obito4 { background-position: 0 -15360px; min-width: 34px; } 
.md [href$="-obito5"], .flair-obito5 { background-position: 0 -15400px; min-width: 34px; } 
.md [href$="-obito6"], .flair-obito6 { background-position: 0 -15440px; } 
.md [href$="-obito7"], .flair-obito7 { background-position: 0 -15480px; } 
.md [href$="-obito8"], .flair-obito8 { background-position: 0 -15520px; } 
.md [href$="-obito9"], .flair-obito9 { background-position: 0 -15560px; min-width: 36px; } 
.md [href$="-obito10"], .flair-obito10 { background-position: 0 -15600px; min-width: 36px; } 
.md [href$="-obito11"], .flair-obito11 { background-position: 0 -15640px; min-width: 36px; } 
.md [href$="-ohnoki"], .flair-ohnoki { background-position: 0 -15680px; } 
.md [href$="-ohnoki1"], .flair-ohnoki1 { background-position: 0 -15720px; } 
.md [href$="-orochimaru"], .flair-orochimaru { background-position: 0 -15760px; min-width: 37px; } 
.md [href$="-orochimaru1"], .flair-orochimaru1 { background-position: 0 -15800px; } 
.md [href$="-orochimaru2"], .flair-orochimaru2 { background-position: 0 -15840px; } 
.md [href$="-orochimaru3"], .flair-orochimaru3 { background-position: 0 -15880px; min-width: 37px; } 
.md [href$="-orochimaru4"], .flair-orochimaru4 { background-position: 0 -15920px; } 
.md [href$="-orochimaru5"], .flair-orochimaru5 { background-position: 0 -15960px; } 
.md [href$="-orochimaru6"], .flair-orochimaru6 { background-position: 0 -16000px; } 
.md [href$="-orochimaru7"], .flair-orochimaru7 { background-position: 0 -16040px; } 
.md [href$="-orochimaru8"], .flair-orochimaru8 { background-position: 0 -16080px; } 
.md [href$="-pain"], .flair-pain { background-position: 0 -16120px; } 
.md [href$="-pain1"], .flair-pain1 { background-position: 0 -16160px; } 
.md [href$="-pain2"], .flair-pain2 { background-position: 0 -16200px; } 
.md [href$="-pain3"], .flair-pain3 { background-position: 0 -16240px; } 
.md [href$="-pain4"], .flair-pain4 { background-position: 0 -16280px; } 
.md [href$="-pain5"], .flair-pain5 { background-position: 0 -16320px; } 
.md [href$="-pain6"], .flair-pain6 { background-position: 0 -16360px; } 
.md [href$="-pain7"], .flair-pain7 { background-position: 0 -16400px; } 
.md [href$="-pain8"], .flair-pain8 { background-position: 0 -16440px; } 
.md [href$="-pain9"], .flair-pain9 { background-position: 0 -16480px; } 
.md [href$="-pain10"], .flair-pain10 { background-position: 0 -16520px; } 
.md [href$="-pain11"], .flair-pain11 { background-position: 0 -16560px; } 
.md [href$="-pain12"], .flair-pain12 { background-position: 0 -16600px; } 
.md [href$="-pain13"], .flair-pain13 { background-position: 0 -16640px; } 
.md [href$="-pain14"], .flair-pain14 { background-position: 0 -16680px; } 
.md [href$="-pain15"], .flair-pain15 { background-position: 0 -16720px; } 
.md [href$="-raido"], .flair-raido { background-position: 0 -16760px; } 
.md [href$="-rasa"], .flair-rasa { background-position: 0 -16800px; min-width: 30px; } 
.md [href$="-rasa1"], .flair-rasa1 { background-position: 0 -16840px; } 
.md [href$="-rin"], .flair-rin { background-position: 0 -16880px; } 
.md [href$="-rin1"], .flair-rin1 { background-position: 0 -16920px; min-width: 37px; } 
.md [href$="-rin2"], .flair-rin2 { background-position: 0 -16960px; min-width: 36px; } 
.md [href$="-roshi"], .flair-roshi { background-position: 0 -17000px; } 
.md [href$="-roshi1"], .flair-roshi1 { background-position: 0 -17040px; } 
.md [href$="-rou"], .flair-rou { background-position: 0 -17080px; min-width: 32px; } 
.md [href$="-rou1"], .flair-rou1 { background-position: 0 -17120px; min-width: 32px; } 
.md [href$="-sai"], .flair-sai { background-position: 0 -17160px; } 
.md [href$="-sai1"], .flair-sai1 { background-position: 0 -17200px; min-width: 34px; } 
.md [href$="-sai2"], .flair-sai2 { background-position: 0 -17240px; min-width: 34px; } 
.md [href$="-sai3"], .flair-sai3 { background-position: 0 -17280px; } 
.md [href$="-sakon"], .flair-sakon { background-position: 0 -17320px; min-width: 36px; } 
.md [href$="-sakon1"], .flair-sakon1 { background-position: 0 -17360px; min-width: 36px; } 
.md [href$="-sakon2"], .flair-sakon2 { background-position: 0 -17400px; } 
.md [href$="-sakon3"], .flair-sakon3 { background-position: 0 -17440px; } 
.md [href$="-sakura"], .flair-sakura { background-position: 0 -17480px; min-width: 38px; } 
.md [href$="-sakura1"], .flair-sakura1 { background-position: 0 -17520px; min-width: 36px; } 
.md [href$="-sakura2"], .flair-sakura2 { background-position: 0 -17560px; min-width: 38px; } 
.md [href$="-sakura3"], .flair-sakura3 { background-position: 0 -17600px; } 
.md [href$="-sakura4"], .flair-sakura4 { background-position: 0 -17640px; min-width: 37px; } 
.md [href$="-sakura5"], .flair-sakura5 { background-position: 0 -17680px; } 
.md [href$="-sakura6"], .flair-sakura6 { background-position: 0 -17720px; } 
.md [href$="-sakura7"], .flair-sakura7 { background-position: 0 -17760px; min-width: 36px; } 
.md [href$="-sakura8"], .flair-sakura8 { background-position: 0 -17800px; min-width: 37px; } 
.md [href$="-sakura9"], .flair-sakura9 { background-position: 0 -17840px; min-width: 36px; } 
.md [href$="-sakura10"], .flair-sakura10 { background-position: 0 -17880px; } 
.md [href$="-sakura11"], .flair-sakura11 { background-position: 0 -17920px; min-width: 36px; } 
.md [href$="-sakura12"], .flair-sakura12 { background-position: 0 -17960px; min-width: 36px; } 
.md [href$="-sakura13"], .flair-sakura13 { background-position: 0 -18000px; min-width: 34px; } 
.md [href$="-sakura14"], .flair-sakura14 { background-position: 0 -18040px; } 
.md [href$="-sakura15"], .flair-sakura15 { background-position: 0 -18080px; min-width: 33px; } 
.md [href$="-sakura16"], .flair-sakura16 { background-position: 0 -18120px; } 
.md [href$="-sakura17"], .flair-sakura17 { background-position: 0 -18160px; } 
.md [href$="-sakura-pvp"], .flair-sakura-pvp { background-position: 0 -18200px; } 
.md [href$="-sand-chunin-male"], .flair-sand-chunin-male { background-position: 0 -18240px; } 
.md [href$="-sasori"], .flair-sasori { background-position: 0 -18280px; } 
.md [href$="-sasori1"], .flair-sasori1 { background-position: 0 -18320px; } 
.md [href$="-sasori2"], .flair-sasori2 { background-position: 0 -18360px; min-width: 36px; } 
.md [href$="-sasori3"], .flair-sasori3 { background-position: 0 -18400px; } 
.md [href$="-sasori4"], .flair-sasori4 { background-position: 0 -18440px; } 
.md [href$="-sasori5"], .flair-sasori5 { background-position: 0 -18480px; min-width: 32px; } 
.md [href$="-sasori6"], .flair-sasori6 { background-position: 0 -18520px; } 
.md [href$="-sasori7"], .flair-sasori7 { background-position: 0 -18560px; } 
.md [href$="-sasuke"], .flair-sasuke { background-position: 0 -18600px; } 
.md [href$="-sasuke1"], .flair-sasuke1 { background-position: 0 -18640px; min-width: 34px; } 
.md [href$="-sasuke2"], .flair-sasuke2 { background-position: 0 -18680px; min-width: 34px; } 
.md [href$="-sasuke3"], .flair-sasuke3 { background-position: 0 -18720px; } 
.md [href$="-sasuke4"], .flair-sasuke4 { background-position: 0 -18760px; } 
.md [href$="-sasuke5"], .flair-sasuke5 { background-position: 0 -18800px; } 
.md [href$="-sasuke6"], .flair-sasuke6 { background-position: 0 -18840px; } 
.md [href$="-sasuke7"], .flair-sasuke7 { background-position: 0 -18880px; } 
.md [href$="-sasuke8"], .flair-sasuke8 { background-position: 0 -18920px; } 
.md [href$="-sasuke9"], .flair-sasuke9 { background-position: 0 -18960px; } 
.md [href$="-sasuke10"], .flair-sasuke10 { background-position: 0 -19000px; } 
.md [href$="-sasuke11"], .flair-sasuke11 { background-position: 0 -19040px; min-width: 36px; } 
.md [href$="-sasuke12"], .flair-sasuke12 { background-position: 0 -19080px; } 
.md [href$="-sasuke13"], .flair-sasuke13 { background-position: 0 -19120px; } 
.md [href$="-sasuke14"], .flair-sasuke14 { background-position: 0 -19160px; min-width: 34px; } 
.md [href$="-sasuke15"], .flair-sasuke15 { background-position: 0 -19200px; } 
.md [href$="-sasuke16"], .flair-sasuke16 { background-position: 0 -19240px; } 
.md [href$="-sasuke17"], .flair-sasuke17 { background-position: 0 -19280px; min-width: 36px; } 
.md [href$="-sasuke18"], .flair-sasuke18 { background-position: 0 -19320px; } 
.md [href$="-sasuke19"], .flair-sasuke19 { background-position: 0 -19360px; } 
.md [href$="-sasuke20"], .flair-sasuke20 { background-position: 0 -19400px; min-width: 34px; } 
.md [href$="-sasuke21"], .flair-sasuke21 { background-position: 0 -19440px; } 
.md [href$="-sasuke22"], .flair-sasuke22 { background-position: 0 -19480px; min-width: 34px; } 
.md [href$="-sasuke23"], .flair-sasuke23 { background-position: 0 -19520px; } 
.md [href$="-sasuke24"], .flair-sasuke24 { background-position: 0 -19560px; } 
.md [href$="-sasuke25"], .flair-sasuke25 { background-position: 0 -19600px; } 
.md [href$="-sasuke26"], .flair-sasuke26 { background-position: 0 -19640px; } 
.md [href$="-sasuke27"], .flair-sasuke27 { background-position: 0 -19680px; min-width: 31px; } 
.md [href$="-sasuke28"], .flair-sasuke28 { background-position: 0 -19720px; min-width: 41px; } 
.md [href$="-sasuke29"], .flair-sasuke29 { background-position: 0 -19760px; } 
.md [href$="-sasuke30"], .flair-sasuke30 { background-position: 0 -19800px; min-width: 34px; } 
.md [href$="-sasuke31"], .flair-sasuke31 { background-position: 0 -19840px; min-width: 34px; } 
.md [href$="-sasuke32"], .flair-sasuke32 { background-position: 0 -19880px; } 
.md [href$="-sasuke33"], .flair-sasuke33 { background-position: 0 -19920px; } 
.md [href$="-sasuke34"], .flair-sasuke34 { background-position: 0 -19960px; min-width: 32px; } 
.md [href$="-sasuke35"], .flair-sasuke35 { background-position: 0 -20000px; } 
.md [href$="-sasuke36"], .flair-sasuke36 { background-position: 0 -20040px; min-width: 38px; } 
.md [href$="-sasuke37"], .flair-sasuke37 { background-position: 0 -20080px; } 
.md [href$="-shibi"], .flair-shibi { background-position: 0 -20120px; } 
.md [href$="-shikaku"], .flair-shikaku { background-position: 0 -20160px; } 
.md [href$="-shikamaru"], .flair-shikamaru { background-position: 0 -20200px; min-width: 31px; } 
.md [href$="-shikamaru1"], .flair-shikamaru1 { background-position: 0 -20240px; min-width: 34px; } 
.md [href$="-shikamaru2"], .flair-shikamaru2 { background-position: 0 -20280px; min-width: 34px; } 
.md [href$="-shikamaru3"], .flair-shikamaru3 { background-position: 0 -20320px; min-width: 33px; } 
.md [href$="-shikamaru4"], .flair-shikamaru4 { background-position: 0 -20360px; min-width: 38px; } 
.md [href$="-shikamaru5"], .flair-shikamaru5 { background-position: 0 -20400px; min-width: 33px; } 
.md [href$="-shikamaru6"], .flair-shikamaru6 { background-position: 0 -20440px; } 
.md [href$="-shikamaru7"], .flair-shikamaru7 { background-position: 0 -20480px; min-width: 32px; } 
.md [href$="-shino"], .flair-shino { background-position: 0 -20520px; min-width: 33px; } 
.md [href$="-shino1"], .flair-shino1 { background-position: 0 -20560px; } 
.md [href$="-shino2"], .flair-shino2 { background-position: 0 -20600px; } 
.md [href$="-shisui"], .flair-shisui { background-position: 0 -20640px; min-width: 33px; } 
.md [href$="-shisui1"], .flair-shisui1 { background-position: 0 -20680px; } 
.md [href$="-shisui2"], .flair-shisui2 { background-position: 0 -20720px; } 
.md [href$="-shisui3"], .flair-shisui3 { background-position: 0 -20760px; min-width: 28px; } 
.md [href$="-shisui4"], .flair-shisui4 { background-position: 0 -20800px; } 
.md [href$="-shisui5"], .flair-shisui5 { background-position: 0 -20840px; } 
.md [href$="-shizune"], .flair-shizune { background-position: 0 -20880px; min-width: 36px; } 
.md [href$="-soku"], .flair-soku { background-position: 0 -20920px; min-width: 34px; } 
.md [href$="-soku1"], .flair-soku1 { background-position: 0 -20960px; } 
.md [href$="-sound-ninja"], .flair-sound-ninja { background-position: 0 -21000px; } 
.md [href$="-suigetsu"], .flair-suigetsu { background-position: 0 -21040px; min-width: 36px; } 
.md [href$="-suigetsu1"], .flair-suigetsu1 { background-position: 0 -21080px; } 
.md [href$="-suigetsu2"], .flair-suigetsu2 { background-position: 0 -21120px; } 
.md [href$="-suigetsu3"], .flair-suigetsu3 { background-position: 0 -21160px; } 
.md [href$="-taiseki"], .flair-taiseki { background-position: 0 -21200px; min-width: 36px; } 
.md [href$="-tayuya"], .flair-tayuya { background-position: 0 -21240px; } 
.md [href$="-tayuya1"], .flair-tayuya1 { background-position: 0 -21280px; min-width: 36px; } 
.md [href$="-tayuya2"], .flair-tayuya2 { background-position: 0 -21320px; } 
.md [href$="-tayuya3"], .flair-tayuya3 { background-position: 0 -21360px; } 
.md [href$="-temari"], .flair-temari { background-position: 0 -21400px; } 
.md [href$="-temari1"], .flair-temari1 { background-position: 0 -21440px; } 
.md [href$="-temari2"], .flair-temari2 { background-position: 0 -21480px; min-width: 34px; } 
.md [href$="-temari3"], .flair-temari3 { background-position: 0 -21520px; min-width: 38px; } 
.md [href$="-temari4"], .flair-temari4 { background-position: 0 -21560px; } 
.md [href$="-tenten"], .flair-tenten { background-position: 0 -21600px; } 
.md [href$="-tenten1"], .flair-tenten1 { background-position: 0 -21640px; } 
.md [href$="-tenten2"], .flair-tenten2 { background-position: 0 -21680px; min-width: 37px; } 
.md [href$="-tenten3"], .flair-tenten3 { background-position: 0 -21720px; } 
.md [href$="-tenten4"], .flair-tenten4 { background-position: 0 -21760px; min-width: 32px; } 
.md [href$="-thief"], .flair-thief { background-position: 0 -21800px; min-width: 34px; } 
.md [href$="-thief-lackey"], .flair-thief-lackey { background-position: 0 -21840px; min-width: 34px; } 
.md [href$="-thief-leader"], .flair-thief-leader { background-position: 0 -21880px; } 
.md [href$="-tobi"], .flair-tobi { background-position: 0 -21920px; min-width: 36px; } 
.md [href$="-tobi1"], .flair-tobi1 { background-position: 0 -21960px; } 
.md [href$="-tobi2"], .flair-tobi2 { background-position: 0 -22000px; } 
.md [href$="-tobi3"], .flair-tobi3 { background-position: 0 -22040px; min-width: 34px; } 
.md [href$="-tobi4"], .flair-tobi4 { background-position: 0 -22080px; } 
.md [href$="-tobi5"], .flair-tobi5 { background-position: 0 -22120px; } 
.md [href$="-tobirama"], .flair-tobirama { background-position: 0 -22160px; min-width: 36px; } 
.md [href$="-tobirama1"], .flair-tobirama1 { background-position: 0 -22200px; min-width: 36px; } 
.md [href$="-tobirama2"], .flair-tobirama2 { background-position: 0 -22240px; } 
.md [href$="-tobirama3"], .flair-tobirama3 { background-position: 0 -22280px; min-width: 34px; } 
.md [href$="-tobirama4"], .flair-tobirama4 { background-position: 0 -22320px; } 
.md [href$="-tobirama5"], .flair-tobirama5 { background-position: 0 -22360px; } 
.md [href$="-torune"], .flair-torune { background-position: 0 -22400px; } 
.md [href$="-torune1"], .flair-torune1 { background-position: 0 -22440px; } 
.md [href$="-trinity-kagari"], .flair-trinity-kagari { background-position: 0 -22480px; } 
.md [href$="-trinity-mubi"], .flair-trinity-mubi { background-position: 0 -22520px; min-width: 36px; } 
.md [href$="-trinity-oboro"], .flair-trinity-oboro { background-position: 0 -22560px; } 
.md [href$="-tsume"], .flair-tsume { background-position: 0 -22600px; min-width: 38px; } 
.md [href$="-tsunade"], .flair-tsunade { background-position: 0 -22640px; min-width: 40px; } 
.md [href$="-tsunade1"], .flair-tsunade1 { background-position: 0 -22680px; } 
.md [href$="-tsunade2"], .flair-tsunade2 { background-position: 0 -22720px; } 
.md [href$="-tsunade3"], .flair-tsunade3 { background-position: 0 -22760px; } 
.md [href$="-tsunade4"], .flair-tsunade4 { background-position: 0 -22800px; } 
.md [href$="-tsunade5"], .flair-tsunade5 { background-position: 0 -22840px; } 
.md [href$="-tsunade6"], .flair-tsunade6 { background-position: 0 -22880px; } 
.md [href$="-tsunade7"], .flair-tsunade7 { background-position: 0 -22920px; } 
.md [href$="-tsunade8"], .flair-tsunade8 { background-position: 0 -22960px; } 
.md [href$="-tsunade9"], .flair-tsunade9 { background-position: 0 -23000px; } 
.md [href$="-tsunade10"], .flair-tsunade10 { background-position: 0 -23040px; } 
.md [href$="-tsunade11"], .flair-tsunade11 { background-position: 0 -23080px; } 
.md [href$="-utakata"], .flair-utakata { background-position: 0 -23120px; min-width: 33px; } 
.md [href$="-utakata1"], .flair-utakata1 { background-position: 0 -23160px; } 
.md [href$="-utakata2"], .flair-utakata2 { background-position: 0 -23200px; } 
.md [href$="-utakata3"], .flair-utakata3 { background-position: 0 -23240px; } 
.md [href$="-waraji"], .flair-waraji { background-position: 0 -23280px; min-width: 32px; } 
.md [href$="-yagura"], .flair-yagura { background-position: 0 -23320px; } 
.md [href$="-yagura1"], .flair-yagura1 { background-position: 0 -23360px; } 
.md [href$="-yagura2"], .flair-yagura2 { background-position: 0 -23400px; } 
.md [href$="-yagura3"], .flair-yagura3 { background-position: 0 -23440px; min-width: 36px; } 
.md [href$="-yahiko"], .flair-yahiko { background-position: 0 -23480px; } 
.md [href$="-yamato"], .flair-yamato { background-position: 0 -23520px; } 
.md [href$="-yamato1"], .flair-yamato1 { background-position: 0 -23560px; } 
.md [href$="-yamato2"], .flair-yamato2 { background-position: 0 -23600px; } 
.md [href$="-yashamaru"], .flair-yashamaru { background-position: 0 -23640px; } 
.md [href$="-yoroi"], .flair-yoroi { background-position: 0 -23680px; } 
.md [href$="-yugito"], .flair-yugito { background-position: 0 -23720px; } 
.md [href$="-yugito1"], .flair-yugito1 { background-position: 0 -23760px; } 
.md [href$="-yugito2"], .flair-yugito2 { background-position: 0 -23800px; } 
.md [href$="-yugito3"], .flair-yugito3 { background-position: 0 -23840px; } 
.md [href$="-zabuza"], .flair-zabuza { background-position: 0 -23880px; } 
.md [href$="-zabuza1"], .flair-zabuza1 { background-position: 0 -23920px; } 
.md [href$="-zabuza2"], .flair-zabuza2 { background-position: 0 -23960px; } 
.md [href$="-zabuza3"], .flair-zabuza3 { background-position: 0 -24000px; } 
.md [href$="-zabuza4"], .flair-zabuza4 { background-position: 0 -24040px; } 
.md [href$="-zabuza5"], .flair-zabuza5 { background-position: 0 -24080px; min-width: 34px; } 
.md [href$="-zabuza6"], .flair-zabuza6 { background-position: 0 -24120px; } 
.md [href$="-zabuza7"], .flair-zabuza7 { background-position: 0 -24160px; } 
.md [href$="-zaku"], .flair-zaku { background-position: 0 -24200px; min-width: 32px; } 
.md [href$="-zetsu"], .flair-zetsu { background-position: 0 -24240px; } 
.md [href$="-zetsu1"], .flair-zetsu1 { background-position: 0 -24280px; min-width: 34px; } 
.md [href$="-zori"], .flair-zori { background-position: 0 -24320px; min-width: 33px; } 